/**
*Created By Balionezio 08.04.15
* Last Modify 
*/
/*Very very bad structure....I must chenge it*/
p.button-back-to-projects {
  float: right;
  width: 225px;
  height: 40px;
  padding-top: 8px;
  padding-left: 40px;
  box-sizing: border-box;
  background: url(../../images/bigArrow.png) 15px 10px no-repeat, #d0935d;
  border-bottom: 2px solid #d68a52;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font: 16px 'open_sansbold';
  text-align: center;
  cursor: pointer; }
  p.button-back-to-projects a {
    color: white; }
  p.button-back-to-projects:active {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #d68a52;
    border-bottom-color: #e49459;
    color: #ecc5ab; }
  p.button-back-to-projects:hover {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #c58c58;
    border-bottom-color: #c38956;
    color: #ecc5ab; }

.admin-part {
  min-width: 1024px;
  width: 100%;
  display: table; }
  .admin-part .verical-list, .admin-part .admin-part-content {
    display: inline-block;
    vertical-align: top;
    display: table-cell; }

.verical-list {
  width: 110px;
  padding: 4px 0 385px 0;
  box-sizing: border-box;
  background: url(../../images/grid-pattern.png);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  .verical-list li {
    width: inherit;
    height: 107px;
    margin-top: 12px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    line-height: 16px;
    border: 1px solid rgba(0, 15, 0, 0);
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font: 16px 'open_sansbold'; }
    .verical-list li a {
      display: block;
      width: 110px;
      box-sizing: border-box;
      height: 107px;
      padding: 9px 0 0 0;
      line-height: 16px;
      color: white;
      cursor: default; }
    .verical-list li:first-child {
      margin-top: 0;
      background: rgba(22, 51, 65, 0.8);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:first-child .list-icons {
        width: 54px;
        height: 53px;
        background: url(../../images/Infoico.png) 0 56px;
        margin: 12px auto 0; }
      .verical-list li:first-child a {
        color: #8ca8b6; }
    .verical-list li:nth-child(2) .list-icons {
      width: 62px;
      height: 49px;
      background: url(../../images/adminIco.png);
      margin: 7px auto 0; }
    .verical-list li:nth-child(2):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(2):hover .list-icons {
        background: url(../../images/adminIco.png) 0 101px; }
      .verical-list li:nth-child(2):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(2) a {
      padding-top: 6px; }
    .verical-list li:nth-child(3) .list-icons {
      width: 61px;
      height: 40px;
      background: url(../../images/CSMIico.png);
      margin: 18px auto 0; }
    .verical-list li:nth-child(3) a {
      padding-top: 8px; }
    .verical-list li:nth-child(3):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(3):hover .list-icons {
        background: url(../../images/CSMIico.png) 0 80px; }
      .verical-list li:nth-child(3):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(4) .list-icons {
      width: 67px;
      height: 62px;
      background: url(../../images/campaings.png);
      margin: 1px auto 0;
      cursor: pointer; }
    .verical-list li:nth-child(4) a {
      padding-top: 5px; }
    .verical-list li:nth-child(4):hover {
      background: url(../../images/hovercampainsIcon.png) center 3px no-repeat, rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:nth-child(4):hover .list-icons {
        background: url(../../images/campaings.png) 0 127px; }
      .verical-list li:nth-child(4):hover a {
        color: #d8e8f0;
        cursor: pointer; }

.admin-part-content {
  height: 100%;
  margin-left: -4px;
  min-width: 800px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .admin-part-content .administration-list, .admin-part-content .admin-part-inform, .admin-part-content .admin-part-players, .admin-part-content .widthdraw-part-table {
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    height: 100%;
    padding-bottom: 138px; }

.administration-list {
  height: 100%;
  background: url(../../images/patternCardsMenu.png);
  padding-top: 35px;
  position: relative;
  margin-top: 40px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c4c4c4; }
  .administration-list:before, .administration-list:after {
    content: '';
    display: block;
    width: 193px;
    height: 13px;
    position: absolute;
    background: url(../../images/cards.png) no-repeat; }
  .administration-list:before {
    top: 12px;
    left: 0; }
  .administration-list:after {
    top: 295px;
    left: 0; }
  .administration-list li {
    list-style-type: none;
    position: relative;
    width: 193px;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    background: url(../../images/patternAdmList.png);
    line-height: 40px;
    box-sizing: border-box; }
    .administration-list li a {
      display: block;
      width: 193px;
      height: 40px;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;
      color: #a1a0a0;
      font-family: 'open_sansregular';
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.41);
      font-size: 14px; }
    .administration-list li:first-child {
      background: #f6f6f6;
      position: relative; }
      .administration-list li:first-child:after {
        content: '';
        display: block;
        height: 40px;
        width: 2px;
        background: #f6f6f6;
        position: absolute;
        top: 0;
        right: -2px; }
      .administration-list li:first-child a {
        color: #548198;
        font-family: 'open_sansregular';
        font-size: 18px; }
    .administration-list li:nth-child(4) .count {
      position: absolute;
      top: 5px;
      right: 24px;
      border-radius: 50%;
      cursor: pointer;
      width: 17px;
      height: 17px;
      text-align: center;
      color: white;
      background: #7196a9;
      font-family: 'open_sansregular';
      font-size: 10px;
      line-height: 17px; }
    .administration-list li:nth-child(5) {
      line-height: 14px;
      padding-top: 6px; }
    .administration-list li:hover {
      background: url(../../images/hoverpatternAdminList.png);
      cursor: pointer;
      font-family: 'open_sansregular'; }
