/*
* Created by Balion 30.03.15
* Last modify
*/
/*
* Created by Balion 24.03.15
* Last modify 26.03.15
*/
/*
* 1- Gaming clouds header
* 2- Main container styles 
	a) header of main conteiner
	b) part before main content
	c) line
*/
/*
* Created by Balion 24.03.15
* Last modify 26.03.15
*/
/*
* font-family: 'open_sansregular';
* font-family: 'open_sansbold';
*/
@font-face {
  font-family: 'open_sansregular';
  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Regular-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url('../../fonts/OpenSans-Bold-webfont.eot');
  src: url('../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Bold-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../../fonts/open_sans_extra_bold.eot');
  src: url('../../fonts/open_sans_extra_bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_extra_bold.woff2') format('woff2'), url('../../fonts/open_sans_extra_bold.woff') format('woff'), url('../../fonts/open_sans_extra_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url('../../fonts/open_sans_light.eot');
  src: url('../../fonts/open_sans_light.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_light.woff2') format('woff2'), url('../../fonts/open_sans_light.woff') format('woff'), url('../../fonts/open_sans_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #005367;
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-attachment: fixed; }

a {
  text-decoration: none; }

body, html, *, div, p, a {
  margin: 0;
  padding: 0; }

.gaming-clouds-header {
  min-width: 1033px;
  height: 82px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #113a4e;
  box-shadow: 0px 1px 0px 0px #5c7988;
  background: rgba(18, 61, 80, 0.75);
  box-sizing: border-box; }
  .gaming-clouds-header * {
    display: inline-block;
    vertical-align: top; }

.main-logo {
  margin-left: 27px; }

.main-logo-title {
  margin-left: -2.5px;
  line-height: 45px;
  color: #E9F4F9;
  font-family: 'open_sansregular';
  font-size: 31px;
  font-weight: 400;
  text-shadow: 2.5px 4.3px 0 rgba(0, 0, 2, 0.4); }

.search {
  position: relative;
  float: right;
  margin-right: 24px;
  margin-top: 2px; }

.search input[type="text"] {
  height: 40px;
  width: 310px;
  padding-left: 20px;
  padding-right: 48px;
  box-sizing: border-box;
  background: url(../../images/icon-search.png) 268px center no-repeat, url(../../images/pattern-search.png);
  border: 1px solid #185974;
  border-bottom: 1px solid #446471;
  line-htight: 40px;
  font-family: 'open_sansregular';
  font-size: 20px;
  color: rgba(126, 189, 211, 0.5);
  border-radius: 4px;
  box-shadow: inset 0px 1px 0px 0px #0a2530, 0px 1px 0px 0px #185974; }
  .search input[type="text"]::-webkit-input-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]::-moz-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]::-ms-input-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]:focus {
    outline: none;
    color: #7ebdd3; }

.search input[type="submit"] {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 29px;
  height: 25px;
  background: url(../../images/icon-search.png);
  border: none;
  cursor: pointer; }
  .search input[type="submit"]:active, .search input[type="submit"]:link, .search input[type="submit"]:visited {
    outline: none; }

.main-container {
  min-width: 1024px;
  margin: 9px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.header-of-main-container {
  height: 82px;
  box-sizing: border-box;
  background-image: url(../../images/pattern-header-table.png);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #757677; }

.profile {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 81px;
  box-sizing: border-box;
  width: 430px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 4px;
  border-right: 1px solid #737c7e;
  background-image: url(../../images/pattern-profile.png);
  font-family: 'open_sansregular'; }
  .profile:after {
    content: '';
    display: block;
    width: 1px;
    height: 81px;
    background: #b2b9ba;
    position: absolute;
    top: 0;
    right: -2px; }
  .profile img, .profile .info-abut-person {
    padding: 0;
    display: inline-block;
    vertical-align: top; }
    .profile img span, .profile .info-abut-person span {
      display: block; }
  .profile p {
    margin: 0; }
  .profile img {
    border: 3px solid #676767;
    border-radius: 2px;
    margin-left: 24px; }

.info-abut-person {
  margin-left: 19px;
  box-sizing: border-box; }
  .info-abut-person .welcome {
    color: white;
    font-size: 18px;
    height: 18px;
    line-height: 19px; }
  .info-abut-person .name {
    margin-top: 1px;
    display: block;
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    text-decoration: underline;
    color: #94d8f8;
    cursor: pointer; }
  .info-abut-person .last-sign {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 8px;
    color: #5c5c5c; }

.buttons-header-of-main-container {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 23px;
  margin-right: 32px; }
  .buttons-header-of-main-container a {
    cursor: pointer;
    display: inline-block;
    color: #DCDCDC;
    font-size: 16px;
    font-family: 'open_sansregular';
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #5d6a6c;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 2, 0.25);
    display: inline-block;
    vertical-align: top;
    height: 35px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 2px;
    background: url(../../images/pattern-btns.png);
    position: relative; }
    .buttons-header-of-main-container a:hover {
      background: url(../../images/pattern-btns.png) 0 33px; }
  .buttons-header-of-main-container .files {
    width: 103px; }
    .buttons-header-of-main-container .files:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 16px;
      width: 22px;
      height: 27px;
      background: url(../../images/F.png); }
    .buttons-header-of-main-container .files:active {
      box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      background: url(../../images/patternButtons.png), -webkit-linear-gradient(top, #959fa1, #607174); }
  .buttons-header-of-main-container .quit {
    width: 113px;
    margin-left: 10px; }
    .buttons-header-of-main-container .quit:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 16px;
      width: 26px;
      height: 21px;
      background: url(../../images/Q.png); }
    .buttons-header-of-main-container .quit:active {
      box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      background: url(../../images/patternButtons.png), -webkit-linear-gradient(top, #959fa1, #607174); }

.main-part-of-container {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 32px;
  background-image: url(../../images/pattern-main-table.png);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #f4f4f4;
  height: 66px;
  box-sizing: border-box; }

.part-before-table * {
  display: inline-block;
  vertical-align: top; }
.part-before-table p {
  margin: 0;
  margin-left: 16.5px;
  font-family: 'open_sansregular';
  font-size: 30px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #717171; }

.line {
  width: inherit;
  margin-top: 30.25px;
  margin-bottom: 0;
  height: 1px;
  background-color: #c5c5c5;
  border-bottom: 1px solid white; }

p.button-back-to-projects {
  float: right;
  width: 223px;
  height: 40px;
  padding-top: 8px;
  padding-left: 40px;
  margin-top: 2px;
  box-sizing: border-box;
  background: url(../../images/bigArrow.png) 15px 10px no-repeat, #d0935d;
  border-bottom: 2px solid #d68a52;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font: 16px 'open_sansbold';
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box; }
  p.button-back-to-projects a {
    color: white; }
  p.button-back-to-projects:active {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #d68a52;
    border-bottom-color: #e49459;
    color: #ecc5ab; }
  p.button-back-to-projects:hover {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #c58c58;
    border-bottom-color: #c38956;
    color: #ecc5ab; }

.info-part {
  min-width: 1024px;
  width: 100%;
  display: table; }
  .info-part .verical-list, .info-part .info-part-content {
    display: inline-block;
    vertical-align: top;
    display: table-cell; }

.verical-list {
  width: 110px;
  padding: 4px 0 385px 0;
  box-sizing: border-box;
  background: url(../../images/grid-pattern.png);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  .verical-list li {
    width: inherit;
    height: 107px;
    margin-top: 12px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    line-height: 16px;
    border: 1px solid rgba(0, 15, 0, 0);
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font: 16px 'open_sansbold'; }
    .verical-list li a {
      display: block;
      width: 110px;
      box-sizing: border-box;
      height: 107px;
      padding: 9px 0 0 0;
      line-height: 16px;
      color: white;
      cursor: default; }
    .verical-list li:first-child {
      margin-top: 0;
      background: rgba(22, 51, 65, 0.8);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:first-child .list-icons {
        width: 54px;
        height: 53px;
        background: url(../../images/Infoico.png) 0 56px;
        margin: 12px auto 0; }
      .verical-list li:first-child a {
        color: #8ca8b6; }
    .verical-list li:nth-child(2) .list-icons {
      width: 62px;
      height: 49px;
      background: url(../../images/adminIco.png);
      margin: 7px auto 0; }
    .verical-list li:nth-child(2):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(2):hover .list-icons {
        background: url(../../images/adminIco.png) 0 101px; }
      .verical-list li:nth-child(2):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(2) a {
      padding-top: 6px; }
    .verical-list li:nth-child(3) .list-icons {
      width: 61px;
      height: 40px;
      background: url(../../images/CSMIico.png);
      margin: 18px auto 0; }
    .verical-list li:nth-child(3) a {
      padding-top: 8px; }
    .verical-list li:nth-child(3):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(3):hover .list-icons {
        background: url(../../images/CSMIico.png) 0 80px; }
      .verical-list li:nth-child(3):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(4) .list-icons {
      width: 67px;
      height: 62px;
      background: url(../../images/campaings.png);
      margin: 1px auto 0;
      cursor: pointer; }
    .verical-list li:nth-child(4) a {
      padding-top: 5px; }
    .verical-list li:nth-child(4):hover {
      background: url(../../images/hovercampainsIcon.png) center 3px no-repeat, rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:nth-child(4):hover .list-icons {
        background: url(../../images/campaings.png) 0 127px; }
      .verical-list li:nth-child(4):hover a {
        color: #d8e8f0;
        cursor: pointer; }

.info-part-content {
  padding: 50px 32px 100px 50px;
  margin-left: -4px;
  min-width: 800px;
  height: inherit;
  background: #f6f6f6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #cfd0d0; }

.title-info-block {
  height: 50px;
  box-sizing: border-box;
  color: white;
  font-family: 'open_sansregular';
  font-size: 18px;
  padding: 10px 20px 16px 54px; }

.info-block {
  display: inline-block;
  vertical-align: top;
  width: 537px;
  min-width: 500px; }

.info-block-statistics .pole-of-green-block {
  color: #526c6e;
  font: 16px 'open_sansregular';
  line-height: 35px !important; }
.info-block-statistics p {
  color: #526c6e;
  font: 16px 'open_sansregular';
  line-height: 36px !important; }
.info-block-statistics span {
  padding-left: 5px; }

.running-norm .title-info-block {
  background: url(../../images/runNormLogo.png) 15px center no-repeat, #8bc781; }
.running-norm .info-block-statistics {
  background: #e8f1e6;
  padding: 7px 0 30px 12px; }
  .running-norm .info-block-statistics .pole-of-green-block {
    padding-left: 50px;
    color: #526c6e;
    font: 16px 'open_sansregular';
    line-height: 35px !important;
    background: url(../../images/statusYes.png) 10px center no-repeat; }
  .running-norm .info-block-statistics div:nth-child(4) {
    background: url(../../images/statusNo.png) 10px center no-repeat !important; }

.daily-status, .daily-status-sinse {
  margin-left: 40px; }
  .daily-status .daily-staus-column, .daily-status-sinse .daily-staus-column {
    display: inline-block;
    vertical-align: top; }
  .daily-status .second-dsc, .daily-status-sinse .second-dsc {
    margin-left: 77px; }
  .daily-status .info-block-statistics, .daily-status-sinse .info-block-statistics {
    background: #edf0f5; }

.daily-status .title-info-block {
  background: url(../../images/dailyStatusLogo.png) 15px center no-repeat, #9ac0ec; }
.daily-status .info-block-statistics {
  padding: 9px 0 23px 31px; }
.daily-status .daily-status-column p {
  line-height: 36px; }

.daily-status-sinse .title-info-block {
  background: url(../../images/statusSinceLogo.png) 15px center no-repeat, #9ac0ec; }
.daily-status-sinse .info-block-statistics {
  padding: 7px 0 23px 30px; }
.daily-status-sinse .daily-status-column p {
  line-height: 35px; }
.daily-status-sinse span {
  color: #6cb858;
  font-weight: bold; }

.withdraw-block {
  margin-top: 13px; }
  .withdraw-block .title-info-block {
    padding: 10px 20px 15px 54px !important;
    background: url(../../images/withdrawBlockLogo.png) 17px 12px no-repeat, #ecbb86; }
  .withdraw-block .withdraw-info {
    padding: 25px 0 30px 15px;
    background: #f4ece3;
    color: #2d5056;
    font: 16px 'open_sansregular'; }
    .withdraw-block .withdraw-info a {
      color: #328dba;
      text-decoration: underline; }

@media screen and (max-width: 1927px) {
  .info-block {
    display: block;
    width: 100% !important;
    margin: 30px auto 0; } }

.close {
  width: 15px;
  height: 15px;
  background: url(../../images/closeIcon.png);
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 5px;
  cursor: pointer; }
  .close:hover {
    background: url(../../images/hovercloseIcon.png); }
