/*
* Created by Balion 15.04.15
* Last modify 26.03.15
*/
/*
* Created by Balion 24.03.15
* Last modify 26.03.15
*/
/*
* font-family: 'open_sansregular';
* font-family: 'open_sansbold';
*/
@font-face {
  font-family: 'open_sansregular';
  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Regular-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url('../../fonts/OpenSans-Bold-webfont.eot');
  src: url('../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Bold-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../../fonts/open_sans_extra_bold.eot');
  src: url('../../fonts/open_sans_extra_bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_extra_bold.woff2') format('woff2'), url('../../fonts/open_sans_extra_bold.woff') format('woff'), url('../../fonts/open_sans_extra_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url('../../fonts/open_sans_light.eot');
  src: url('../../fonts/open_sans_light.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_light.woff2') format('woff2'), url('../../fonts/open_sans_light.woff') format('woff'), url('../../fonts/open_sans_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #005367;
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-attachment: fixed; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

/*Gaming clouds header*/
.gaming-clouds-header {
  min-width: 1024px;
  height: 82px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #446572;
  box-shadow: 0px 1px 0px 0px #5c7988;
  background: rgba(0, 44, 64, 0.5);
  border-bottom: 1px solid #113a4e; }
  .gaming-clouds-header * {
    display: inline-block;
    vertical-align: top; }
  .gaming-clouds-header .header-list {
    margin-top: 13px;
    margin-left: 35px; }

.main-logo {
  margin-left: 27px; }

.main-logo-title {
  margin-left: -2.5px;
  height: 75px;
  line-height: 45px;
  font-family: 'open_sansregular';
  color: #E9F4F9;
  font-size: 31px;
  font-weight: 400;
  text-shadow: 2.5px 4.3px 0 rgba(0, 0, 2, 0.41); }

.header-list li {
  position: relative;
  margin-left: 67px;
  color: #AFD3EA;
  font-family: 'open_sansregular';
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px; }
  .header-list li a {
    color: #AFD3EA; }
    .header-list li a:hover {
      color: #AFD3EA;
      font-weight: 400;
      border-bottom: 1px solid #AFD3EA;
      text-shadow: 0 0 7px rgba(255, 255, 255, 0.5); }
  .header-list li:after {
    position: absolute;
    top: 6px;
    right: -41px;
    content: '';
    display: block;
    width: 9px;
    height: 12px;
    background: url(../../images/romb.png) no-repeat; }
  .header-list li:last-child:after {
    display: none; }

.header-btns {
  float: right;
  margin-right: 37px;
  margin-top: 3px; }
  .header-btns * {
    text-align: center;
    line-height: 45px;
    color: #AFD3EA;
    font-family: 'open_sansregular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 142px;
    height: 44px;
    border: 1px solid #546F7F;
    border-radius: 3px;
    cursor: pointer; }
  .header-btns .login {
    margin-right: 9px;
    background-color: rgba(86, 117, 130, 0.15); }
    .header-btns .login:hover {
      color: #AFD3EA;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.22);
      background-color: rgba(86, 117, 130, 0.3); }
  .header-btns .signup {
    background-color: rgba(86, 117, 130, 0.3); }
    .header-btns .signup:hover {
      color: #AFD3EA;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.22);
      background-color: rgba(86, 117, 130, 0.5); }

.main-container {
  min-width: 1024px;
  margin: 11px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.header-of-main-container {
  background-image: url(../../images/pattern-header-table.png);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #757677;
  padding: 15px 0 12px 60px; }
  .header-of-main-container img, .header-of-main-container .text-after-logo {
    display: inline-block;
    vertical-align: top; }
  .header-of-main-container img {
    margin-top: 4px; }
  .header-of-main-container .text-after-logo {
    margin-left: 15px; }
    .header-of-main-container .text-after-logo .big-title {
      margin-top: -1px;
      color: #FFF;
      font-family: 'open_sansregular';
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase; }
    .header-of-main-container .text-after-logo .last-update {
      margin-top: -4px;
      color: #5D5D5D;
      font-family: 'open_sansregular';
      font-size: 14px;
      font-weight: 400; }

.main-part-of-container {
  padding: 10px 30.5px 95px 55px;
  background-image: url(../../images/pattern-main-table.png);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.block-of-articles {
  margin-top: 44px;
  padding-left: 5px;
  font-family: 'open_sansregular'; }
  .block-of-articles .title-article {
    margin-bottom: 15px;
    color: #5F5F5F;
    font-size: 24px;
    font-weight: 400; }
  .block-of-articles article {
    padding-left: 2px;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    width: 914px;
    max-width: 950px;
    color: #5F5F5F;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word; }
    .block-of-articles article:last-child {
      width: 815px;
      margin-left: 43px;
      margin-top: 0px;
      line-height: 27px;
      font-family: 'open_sanslight';
      font-size: 22px;
      line-height: 27px; }

.grey-line {
  width: 100%;
  height: 1px;
  margin-top: 23px;
  margin-bottom: 40px;
  background: #c5c5c5;
  border-bottom: 1px solid white; }

.second-block-of-articles {
  margin-top: 10px; }

.bottom-list {
  margin-top: 31px;
  margin-left: 8px;
  margin-bottom: 33px; }
  .bottom-list li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 65px;
    padding-bottom: 10px;
    font-family: 'open_sansregular';
    font-size: 18px;
    font-weight: 400;
    cursor: pointer; }
    .bottom-list li a {
      color: #AFD3EA; }
      .bottom-list li a:hover {
        color: #AFD3EA;
        font-weight: 400;
        border-bottom: 1px solid #AFD3EA;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.5); }
    .bottom-list li:after {
      position: absolute;
      top: 6px;
      right: -40px;
      content: '';
      display: block;
      width: 9px;
      height: 12px;
      background: url(../../images/romb.png) no-repeat; }
    .bottom-list li:last-child:after {
      display: none; }

@media screen and (max-width: 1918px) {
  .block-of-articles article:last-child {
    margin-left: 0;
    margin-top: 20px; } }

@media screen and (max-width: 1331px) {
  .header-btns {
    margin-top: 17px; } }
