/**
*Created By Balionezio 14.04.15
* Last Modify 
*/
/*
* Created by Balion 24.03.15
* Last modify 26.03.15
*/
/*
* 1- Gaming clouds header
* 2- Main container styles 
	a) header of main conteiner
	b) part before main content
	c) line
*/
/*
* Created by Balion 24.03.15
* Last modify 26.03.15
*/
/*
* font-family: 'open_sansregular';
* font-family: 'open_sansbold';
*/
@font-face {
  font-family: 'open_sansregular';
  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Regular-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold';
  src: url('../../fonts/OpenSans-Bold-webfont.eot');
  src: url('../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/OpenSans-Bold-webfont.woff2') format('woff2'), url('../../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../../fonts/OpenSans-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url('../../fonts/open_sans_extra_bold.eot');
  src: url('../../fonts/open_sans_extra_bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_extra_bold.woff2') format('woff2'), url('../../fonts/open_sans_extra_bold.woff') format('woff'), url('../../fonts/open_sans_extra_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url('../../fonts/open_sans_light.eot');
  src: url('../../fonts/open_sans_light.eot?#iefix') format('embedded-opentype'), url('../../fonts/open_sans_light.woff2') format('woff2'), url('../../fonts/open_sans_light.woff') format('woff'), url('../../fonts/open_sans_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #005367;
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-attachment: fixed; }

a {
  text-decoration: none; }

body, html, *, div, p, a {
  margin: 0;
  padding: 0; }

.gaming-clouds-header {
  min-width: 1033px;
  height: 82px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #113a4e;
  box-shadow: 0px 1px 0px 0px #5c7988;
  background: rgba(18, 61, 80, 0.75);
  box-sizing: border-box; }
  .gaming-clouds-header * {
    display: inline-block;
    vertical-align: top; }

.main-logo {
  margin-left: 27px; }

.main-logo-title {
  margin-left: -2.5px;
  line-height: 45px;
  color: #E9F4F9;
  font-family: 'open_sansregular';
  font-size: 31px;
  font-weight: 400;
  text-shadow: 2.5px 4.3px 0 rgba(0, 0, 2, 0.4); }

.search {
  position: relative;
  float: right;
  margin-right: 24px;
  margin-top: 2px; }

.search input[type="text"] {
  height: 40px;
  width: 310px;
  padding-left: 20px;
  padding-right: 48px;
  box-sizing: border-box;
  background: url(../../images/icon-search.png) 268px center no-repeat, url(../../images/pattern-search.png);
  border: 1px solid #185974;
  border-bottom: 1px solid #446471;
  line-htight: 40px;
  font-family: 'open_sansregular';
  font-size: 20px;
  color: rgba(126, 189, 211, 0.5);
  border-radius: 4px;
  box-shadow: inset 0px 1px 0px 0px #0a2530, 0px 1px 0px 0px #185974; }
  .search input[type="text"]::-webkit-input-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]::-moz-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]::-ms-input-placeholder {
    color: rgba(126, 189, 211, 0.5); }
  .search input[type="text"]:focus {
    outline: none;
    color: #7ebdd3; }

.search input[type="submit"] {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 29px;
  height: 25px;
  background: url(../../images/icon-search.png);
  border: none;
  cursor: pointer; }
  .search input[type="submit"]:active, .search input[type="submit"]:link, .search input[type="submit"]:visited {
    outline: none; }

.main-container {
  min-width: 1024px;
  margin: 9px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.header-of-main-container {
  height: 82px;
  box-sizing: border-box;
  background-image: url(../../images/pattern-header-table.png);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #757677; }

.profile {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 81px;
  box-sizing: border-box;
  width: 430px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 4px;
  border-right: 1px solid #737c7e;
  background-image: url(../../images/pattern-profile.png);
  font-family: 'open_sansregular'; }
  .profile:after {
    content: '';
    display: block;
    width: 1px;
    height: 81px;
    background: #b2b9ba;
    position: absolute;
    top: 0;
    right: -2px; }
  .profile img, .profile .info-abut-person {
    padding: 0;
    display: inline-block;
    vertical-align: top; }
    .profile img span, .profile .info-abut-person span {
      display: block; }
  .profile p {
    margin: 0; }
  .profile img {
    border: 3px solid #676767;
    border-radius: 2px;
    margin-left: 24px; }

.info-abut-person {
  margin-left: 19px;
  box-sizing: border-box; }
  .info-abut-person .welcome {
    color: white;
    font-size: 18px;
    height: 18px;
    line-height: 19px; }
  .info-abut-person .name {
    margin-top: 1px;
    display: block;
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    text-decoration: underline;
    color: #94d8f8;
    cursor: pointer; }
  .info-abut-person .last-sign {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 8px;
    color: #5c5c5c; }

.buttons-header-of-main-container {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 23px;
  margin-right: 32px; }
  .buttons-header-of-main-container a {
    cursor: pointer;
    display: inline-block;
    color: #DCDCDC;
    font-size: 16px;
    font-family: 'open_sansregular';
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #5d6a6c;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 2, 0.25);
    display: inline-block;
    vertical-align: top;
    height: 35px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 15px;
    border-radius: 2px;
    background: url(../../images/pattern-btns.png);
    position: relative; }
    .buttons-header-of-main-container a:hover {
      background: url(../../images/pattern-btns.png) 0 33px; }
  .buttons-header-of-main-container .files {
    width: 103px; }
    .buttons-header-of-main-container .files:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 16px;
      width: 22px;
      height: 27px;
      background: url(../../images/F.png); }
    .buttons-header-of-main-container .files:active {
      box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      background: url(../../images/patternButtons.png), -webkit-linear-gradient(top, #959fa1, #607174); }
  .buttons-header-of-main-container .quit {
    width: 113px;
    margin-left: 10px; }
    .buttons-header-of-main-container .quit:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 16px;
      width: 26px;
      height: 21px;
      background: url(../../images/Q.png); }
    .buttons-header-of-main-container .quit:active {
      box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      background: url(../../images/patternButtons.png), -webkit-linear-gradient(top, #959fa1, #607174); }

.main-part-of-container {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 32px;
  background-image: url(../../images/pattern-main-table.png);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid #f4f4f4;
  height: 66px;
  box-sizing: border-box; }

.part-before-table * {
  display: inline-block;
  vertical-align: top; }
.part-before-table p {
  margin: 0;
  margin-left: 16.5px;
  font-family: 'open_sansregular';
  font-size: 30px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  text-transform: uppercase;
  color: #717171; }

.line {
  width: inherit;
  margin-top: 30.25px;
  margin-bottom: 0;
  height: 1px;
  background-color: #c5c5c5;
  border-bottom: 1px solid white; }

/**
*Created By Balionezio 08.04.15
* Last Modify 
*/
/*Very very bad structure....I must chenge it*/
p.button-back-to-projects {
  float: right;
  width: 225px;
  height: 40px;
  padding-top: 8px;
  padding-left: 40px;
  box-sizing: border-box;
  background: url(../../images/bigArrow.png) 15px 10px no-repeat, #d0935d;
  border-bottom: 2px solid #d68a52;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font: 16px 'open_sansbold';
  text-align: center;
  cursor: pointer; }
  p.button-back-to-projects a {
    color: white; }
  p.button-back-to-projects:active {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #d68a52;
    border-bottom-color: #e49459;
    color: #ecc5ab; }
  p.button-back-to-projects:hover {
    background: url(../../images/activeBigArrow.png) 15px 10px no-repeat, #c58c58;
    border-bottom-color: #c38956;
    color: #ecc5ab; }

.admin-part {
  min-width: 1024px;
  width: 100%;
  display: table; }
  .admin-part .verical-list, .admin-part .admin-part-content {
    display: inline-block;
    vertical-align: top;
    display: table-cell; }

.verical-list {
  width: 110px;
  padding: 4px 0 385px 0;
  box-sizing: border-box;
  background: url(../../images/grid-pattern.png);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  .verical-list li {
    width: inherit;
    height: 107px;
    margin-top: 12px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    line-height: 16px;
    border: 1px solid rgba(0, 15, 0, 0);
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    font: 16px 'open_sansbold'; }
    .verical-list li a {
      display: block;
      width: 110px;
      box-sizing: border-box;
      height: 107px;
      padding: 9px 0 0 0;
      line-height: 16px;
      color: white;
      cursor: default; }
    .verical-list li:first-child {
      margin-top: 0;
      background: rgba(22, 51, 65, 0.8);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:first-child .list-icons {
        width: 54px;
        height: 53px;
        background: url(../../images/Infoico.png) 0 56px;
        margin: 12px auto 0; }
      .verical-list li:first-child a {
        color: #8ca8b6; }
    .verical-list li:nth-child(2) .list-icons {
      width: 62px;
      height: 49px;
      background: url(../../images/adminIco.png);
      margin: 7px auto 0; }
    .verical-list li:nth-child(2):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(2):hover .list-icons {
        background: url(../../images/adminIco.png) 0 101px; }
      .verical-list li:nth-child(2):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(2) a {
      padding-top: 6px; }
    .verical-list li:nth-child(3) .list-icons {
      width: 61px;
      height: 40px;
      background: url(../../images/CSMIico.png);
      margin: 18px auto 0; }
    .verical-list li:nth-child(3) a {
      padding-top: 8px; }
    .verical-list li:nth-child(3):hover {
      background: rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none;
      cursor: pointer; }
      .verical-list li:nth-child(3):hover .list-icons {
        background: url(../../images/CSMIico.png) 0 80px; }
      .verical-list li:nth-child(3):hover a {
        color: #d8e8f0;
        cursor: pointer; }
    .verical-list li:nth-child(4) .list-icons {
      width: 67px;
      height: 62px;
      background: url(../../images/campaings.png);
      margin: 1px auto 0;
      cursor: pointer; }
    .verical-list li:nth-child(4) a {
      padding-top: 5px; }
    .verical-list li:nth-child(4):hover {
      background: url(../../images/hovercampainsIcon.png) center 3px no-repeat, rgba(19, 42, 53, 0.2);
      border: 1px solid #4d5f67;
      border-right: none; }
      .verical-list li:nth-child(4):hover .list-icons {
        background: url(../../images/campaings.png) 0 127px; }
      .verical-list li:nth-child(4):hover a {
        color: #d8e8f0;
        cursor: pointer; }

.admin-part-content {
  height: 100%;
  margin-left: -4px;
  min-width: 800px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .admin-part-content .administration-list, .admin-part-content .admin-part-inform, .admin-part-content .admin-part-players, .admin-part-content .widthdraw-part-table {
    display: inline-block;
    vertical-align: top;
    display: table-cell;
    height: 100%;
    padding-bottom: 138px; }

.administration-list {
  height: 100%;
  background: url(../../images/patternCardsMenu.png);
  padding-top: 35px;
  position: relative;
  margin-top: 40px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c4c4c4; }
  .administration-list:before, .administration-list:after {
    content: '';
    display: block;
    width: 193px;
    height: 13px;
    position: absolute;
    background: url(../../images/cards.png) no-repeat; }
  .administration-list:before {
    top: 12px;
    left: 0; }
  .administration-list:after {
    top: 295px;
    left: 0; }
  .administration-list li {
    list-style-type: none;
    position: relative;
    width: 193px;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    background: url(../../images/patternAdmList.png);
    line-height: 40px;
    box-sizing: border-box; }
    .administration-list li a {
      display: block;
      width: 193px;
      height: 40px;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;
      color: #a1a0a0;
      font-family: 'open_sansregular';
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.41);
      font-size: 14px; }
    .administration-list li:first-child {
      background: #f6f6f6;
      position: relative; }
      .administration-list li:first-child:after {
        content: '';
        display: block;
        height: 40px;
        width: 2px;
        background: #f6f6f6;
        position: absolute;
        top: 0;
        right: -2px; }
      .administration-list li:first-child a {
        color: #548198;
        font-family: 'open_sansregular';
        font-size: 18px; }
    .administration-list li:nth-child(4) .count {
      position: absolute;
      top: 5px;
      right: 24px;
      border-radius: 50%;
      cursor: pointer;
      width: 17px;
      height: 17px;
      text-align: center;
      color: white;
      background: #7196a9;
      font-family: 'open_sansregular';
      font-size: 10px;
      line-height: 17px; }
    .administration-list li:nth-child(5) {
      line-height: 14px;
      padding-top: 6px; }
    .administration-list li:hover {
      background: url(../../images/hoverpatternAdminList.png);
      cursor: pointer;
      font-family: 'open_sansregular'; }

.administration-list li:first-child {
  background: url(../../images/patternAdmList.png); }
  .administration-list li:first-child a {
    font-size: 14px;
    color: #a1a0a0 !important; }
  .administration-list li:first-child:after {
    display: none; }
  .administration-list li:first-child:hover {
    background: url(../../images/hoverpatternAdminList.png); }
.administration-list li:nth-child(5) {
  background: #f6f6f6;
  position: relative; }
  .administration-list li:nth-child(5):after {
    content: '';
    display: block;
    height: 40px;
    width: 2px;
    background: #f6f6f6;
    position: absolute;
    top: 0;
    right: -2px; }
  .administration-list li:nth-child(5) a {
    color: #548198;
    font-family: 'open_sansregular'; }

.widthdraw-part-table {
  width: 100%;
  padding: 38px 40px 37px 36px;
  margin-left: 4px;
  background: #f6f6f6;
  border-top-right-radius: 2px;
  border-top: 1px solid #c4c4c4;
  padding-bottom: 37px !important; }

.withdraw-title {
  color: #5F5F5F;
  font-family: 'open_sansregular';
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.grey-line {
  width: 100%;
  height: 1px;
  background: #cdcece;
  margin-top: 8.5px;
  border-bottom: 1px solid white; }

.add-players-planform {
  margin-top: 24px; }
  .add-players-planform * {
    display: inline-block;
    vertical-align: top; }
  .add-players-planform input[type="text"] {
    color: #A7A7A7;
    font-family: 'open_sansregular';
    font-size: 16px;
    font-weight: 400;
    width: 324px;
    height: 41px;
    background-color: #FFF;
    border: 1px solid #D8D8D8;
    border-top-width: 2px;
    border-radius: 3px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75); }
    .add-players-planform input[type="text"]:focus {
      outline: none; }
    .add-players-planform input[type="text"]::-webkit-input-placeholder {
      color: rgba(167, 167, 167, 0.5); }
    .add-players-planform input[type="text"]::-moz-placeholder {
      color: rgba(167, 167, 167, 0.5); }
    .add-players-planform input[type="text"]::-ms-input-placeholder {
      color: rgba(167, 167, 167, 0.5); }
    .add-players-planform input[type="text"]:focus {
      outline: none;
      color: #a7a7a7; }
    .add-players-planform input[type="text"]:focus {
      outline: none; }
  .add-players-planform input[type="submit"] {
    margin-left: 30px;
    color: #FFF;
    font-family: 'open_sansregular';
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    width: 113px;
    height: 40px;
    background-color: #83A9BC;
    border: none;
    border-bottom: 2px solid #6e98ad;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase; }
    .add-players-planform input[type="submit"]:active {
      background: #659bad;
      color: #b5ced6;
      border-bottom-color: #70abbe;
      outline: none; }
    .add-players-planform input[type="submit"]:hover {
      background: #7ca0b2;
      border-bottom: 2px solid #6e98ad; }

table {
  width: inherit;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0 0; }
  table td {
    padding-left: 15px;
    padding-right: 15px; }
  table tr {
    text-align: center;
    height: 70px;
    line-height: 70px; }
    table tr:nth-child(odd) {
      background: #ebebeb; }
  table thead {
    line-height: 30px;
    font-family: 'open_sansbold';
    font-size: 16px;
    color: #5f5f5f;
    text-align: center; }
    table thead tr {
      height: 55px;
      line-height: 55px; }
    table thead tr {
      background: none !important; }
  table tbody .item-counter {
    position: relative;
    padding-left: 5px;
    width: 50px; }
    table tbody .item-counter p {
      color: #5A5A5A;
      font-size: 18px;
      font-weight: 400;
      margin: 0 auto;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-family: 'open_sansregular';
      font-size: 18px; }
  table tbody .item-payment-platform {
    color: #5F5F5F;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400; }
  table tbody .item-enabled {
    background: url(../../images/check.png) center center no-repeat; }
  table tbody .item-action {
    text-align: center; }
    table tbody .item-action .button-item-action {
      margin: 0 auto;
      width: 143px;
      height: 30px;
      line-height: 30px;
      background-color: #d0935d;
      border-bottom: 2px solid #c38956;
      border-radius: 2px;
      color: #FFF;
      font-family: 'open_sansregular';
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer; }
      table tbody .item-action .button-item-action:active {
        background: #e49459;
        color: #ecc5ab;
        border-bottom-color: #e49459;
        outline: none; }
      table tbody .item-action .button-item-action:hover {
        background: #c58c58;
        border-bottom-color: #c38956;
        color: #ecc5ab; }
  table tbody .item-validation-regexpr .item-form-reg-expr {
    text-align: center; }
    table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"] {
      width: 324px;
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      background-color: #FFF;
      border: 1px solid #D8D8D8;
      border-top-width: 2px;
      border-radius: 3px;
      box-sizing: border-box;
      color: #A7A7A7;
      font-family: 'open_sansregular';
      font-size: 16px;
      font-weight: 400;
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75); }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"]:focus {
        outline: none; }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"]::-webkit-input-placeholder {
        color: rgba(167, 167, 167, 0.5); }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"]::-moz-placeholder {
        color: rgba(167, 167, 167, 0.5); }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"]::-ms-input-placeholder {
        color: rgba(167, 167, 167, 0.5); }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="text"]:focus {
        outline: none;
        color: #a7a7a7; }
    table tbody .item-validation-regexpr .item-form-reg-expr input[type="submit"] {
      margin-left: 30px;
      color: #FFF;
      font-family: 'open_sansregular';
      font-size: 14px;
      font-weight: 700;
      line-height: 34px;
      width: 113px;
      height: 34px;
      background-color: #83A9BC;
      border: none;
      border-bottom: 2px solid #6e98ad;
      cursor: pointer;
      border-radius: 2px;
      text-transform: uppercase; }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="submit"]:active {
        background: #659bad;
        color: #b5ced6;
        border-bottom-color: #70abbe;
        outline: none; }
      @media screen and (max-width: 1373px) {
        table tbody .item-validation-regexpr .item-form-reg-expr input[type="submit"] {
          margin-left: 0;
          margin-right: 0; } }
      table tbody .item-validation-regexpr .item-form-reg-expr input[type="submit"]:hover {
        background: #7ca0b2;
        border-bottom: 2px solid #6e98ad; }

@media screen and (max-width: 1373px) {
  .item-form-reg-expr * {
    margin-left: 0;
    margin-right: 0; } }

.controls {
  width: 380px;
  margin: 45px auto 40px;
  text-align: center;
  font-family: 'open_sansregular'; }
  .controls * {
    display: inline-block;
    vertical-align: top;
    margin-left: 9px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #53a3cb;
    border-radius: 4px;
    line-height: 32px;
    color: white;
    text-align: center; }
    .controls *:hover {
      background-color: #a8c7d6; }
  .controls .item-number:nth-child(4) {
    background: white;
    color: #53a3cb; }
  .controls .left-control {
    width: 58px;
    background: #53a3cb url(../../images/left-arrow.png) center center no-repeat; }
    .controls .left-control:hover {
      background-color: #a8c7d6; }
  .controls .right-control {
    background: #53a3cb url(../../images/right-arrow.png) center center no-repeat; }
    .controls .right-control:hover {
      background-color: #a8c7d6; }
  .controls .left-control, .controls .right-control {
    width: 58px; }

@media screen and (max-width: 1510px) {
  table tr {
    height: 40px;
    line-height: 40px; }
  .item-form-reg-expr input[type="text"] {
    width: 177px !important; } }
