/*569-Ten reasons*/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-Light';
  src: url('../fonts/PFDinTextCompPro-Light.eot');
  src: url('../fonts/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-Light.woff') format('woff'), url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-Medium';
  src: url('../fonts/PFDinTextCompPro-Medium.eot');
  src: url('../fonts/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'), url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.woff2') format('woff2'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url('../fonts/PFDinTextCompPro-Regular.eot');
  src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'), url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-Bold';
  src: url('../fonts/PFDinTextCompPro-Bold.eot');
  src: url('../fonts/PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-Bold.woff') format('woff'), url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-Italic';
  src: url('../fonts/PFDinTextCompPro-Italic.eot');
  src: url('../fonts/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-Italic.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-Italic.woff') format('woff'), url('../fonts/PFDinTextCompPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PFDinTextCompPro-ThinItalic';
  src: url('../fonts/PFDinTextCompPro-ThinItalic.eot');
  src: url('../fonts/PFDinTextCompPro-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinTextCompPro-ThinItalic.woff2') format('woff2'), url('../fonts/PFDinTextCompPro-ThinItalic.woff') format('woff'), url('../fonts/PFDinTextCompPro-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/*******/
ul {
  list-style-type: none; }

/*Styles of button*/
/*Styles of tel number*/
* {
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

/*Reset of links*/
a {
  margin-top: 0;
  color: black;
  text-decoration: none; }

/*Header*/
header {
  position: relative;
  min-width: 1024px;
  height: 600px;
  margin: 0 auto;
  text-align: center; }

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 2; }
  .swiper-container img {
    width: inherit; }

.swiper-container {
  min-width: 1024px;
  max-width: 100%; }

.big-title, .categories, .header-reatistation {
  position: relative;
  z-index: 3;
  display: inline-block; }

.big-title {
  position: relative;
  margin: 0 auto;
  width: 946px;
  height: 86px;
  background: white;
  font-family: 'MyriadPro-Regular';
  color: #00aeef;
  text-align: center;
  line-height: 86px;
  font-size: 59px;
  text-transform: uppercase; }
  .big-title:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 39px;
    width: 81px;
    height: 53px;
    background: url(../images/logo.png); }

.categories {
  width: 264px;
  height: 110px;
  margin: 22.5px auto 0;
  padding-bottom: 5px;
  border: 1px solid #00aeef;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center; }
  .categories .title-categories {
    font-family: 'PFDinTextCompPro-Light';
    font-size: 21.42px;
    margin-top: 10px;
    text-transform: uppercase; }
  .categories .category-item {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 19px;
    border-radius: 50%;
    line-height: 30px;
    font-family: 'MyriadPro-Regular';
    font-size: 24.34px;
    font-weight: bold; }
    .categories .category-item:first-child {
      margin-left: 0; }
  .categories .more-about-category {
    font-family: 'PFDinTextCompPro-Light';
    font-size: 21.42px;
    margin-top: 10px;
    cursor: pointer; }

.header-reatistation {
  width: 677px;
  height: 70px;
  margin-left: -263px;
  margin-top: 305px;
  color: white;
  line-height: 70px;
  font-family: 'MyriadPro-Bold';
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background: #cc0000; }

/*Header navigation*/
.header-nav-wrapper {
  position: relative;
  min-width: 1024px;
  height: 80px;
  background: url(../images/pattern.png); }

.header-nav {
  width: 1024px;
  margin: 0 auto; }
  .header-nav ul, .header-nav li, .header-nav .nav-button-feedback, .header-nav .nav-tel {
    margin-top: 26px;
    display: inline-block;
    vertical-align: top; }
  .header-nav ul {
    list-style-type: none; }
  .header-nav li {
    margin-top: 0;
    margin-left: 30px;
    font-family: 'PFDinTextCompPro-Light';
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer; }
    .header-nav li:first-child {
      margin-left: 0; }
  .header-nav .nav-button-feedback {
    width: 185px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
    border: 1px solid #00aeef;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background: -webkit-linear-gradient(bottom, #088cc9, #8bd9f7);
    background: linear-gradient(to top, #088cc9, #8bd9f7);
    margin-left: 27px; }
  .header-nav .nav-tel {
    position: relative;
    font-family: 'PFDinTextCompPro-Medium';
    font-size: 24px;
    margin-left: 126px; }
    .header-nav .nav-tel:before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 30px;
      top: 0;
      left: -20px;
      background: url(../images/phone.png); }

/*Block of cars*/
.program-prepare {
  width: 996px;
  text-align: center;
  margin: 45px auto 0; }
  .program-prepare .title-program-prepare {
    font-family: 'MyriadPro-Bold';
    font-size: 30px;
    color: #00aeef;
    text-transform: uppercase; }
  .program-prepare .container-models {
    padding-top: 60px;
    margin-left: -100px; }
    .program-prepare .container-models li:first-child {
      background: url(../images/v1.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(2) {
      background: url(../images/v2.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(3) {
      background: url(../images/v3.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(4) {
      background: url(../images/v4.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(5) {
      background: url(../images/v5.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(6) {
      background: url(../images/v6.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(7) {
      background: url(../images/v7.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(8) {
      background: url(../images/v8.jpg) top center no-repeat; }
    .program-prepare .container-models li:nth-child(9) {
      background: url(../images/v9.jpg) top center no-repeat; }
  .program-prepare .item-model {
    position: relative;
    width: 320px;
    height: 240px;
    margin: 16px;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
    .program-prepare .item-model:hover .item-price {
      opacity: 1; }
    .program-prepare .item-model .item-price {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: rgba(13, 158, 255, 0.9);
      color: white;
      text-align: center;
      opacity: 0;
      z-index: 15; }
      .program-prepare .item-model .item-price .title-item-price {
        margin-top: 35px;
        font-family: 'PFDinTextCompPro-Regular';
        font-size: 36px;
        line-height: 38px; }
      .program-prepare .item-model .item-price .title-item-ap {
        margin-top: 11px;
        font-family: 'PFDinTextCompPro-Regular';
        font-size: 24px;
        text-decoration: underline; }
      .program-prepare .item-model .item-price .item-price-button {
        width: 147px;
        height: 32px;
        margin: 22px auto 20px;
        padding: 8px;
        border: 1px solid white;
        background: #00aeef;
        font-family: 'PFDinTextCompPro-Bold';
        text-transform: uppercase;
        font-size: 30px;
        cursor: pointer; }
        .program-prepare .item-model .item-price .item-price-button:hover {
          color: black;
          background: white; }
    .program-prepare .item-model .title-item-model {
      margin-top: 180px;
      font-family: 'PFDinTextCompPro-Medium';
      font-size: 25px;
      text-transform: uppercase; }
    .program-prepare .item-model .title-model-category {
      margin-top: 2px;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 17.9px; }

/*About school block*/
.about-school {
  width: 1024px;
  margin: 147px auto 0;
  padding-top: 20px;
  padding-bottom: 33px;
  border-top: 2px dotted #b1b1b1;
  border-bottom: 2px dotted #b1b1b1; }
  .about-school .address, .about-school .text-about-school, .about-school .commets-block-about-school {
    display: inline-block;
    vertical-align: top; }
  .about-school .address {
    width: 275px;
    height: 286px;
    background: url(../images/phone-table.png);
    margin-left: -15px;
    text-align: center;
    text-transform: uppercase; }
    .about-school .address .tel-address-title, .about-school .address .title-addres-office {
      margin-top: 30px;
      margin-bottom: 0;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 25px; }
    .about-school .address .tel-address, .about-school .address .address-office {
      margin-top: 0px;
      font-family: 'PFDinTextCompPro-Medium';
      font-size: 25px;
      color: #00aeef; }
    .about-school .address .title-addres-office {
      margin-top: 34px; }
  .about-school .text-about-school {
    margin-top: 12px;
    margin-left: 24px;
    width: 290px; }
    .about-school .text-about-school .title-text-about-school {
      font-family: 'MyriadPro-Regular';
      font-size: 24px;
      color: #00aeef;
      text-transform: uppercase; }
    .about-school .text-about-school article, .about-school .text-about-school .more-text-about-school {
      margin-top: 23px;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 18px; }
    .about-school .text-about-school .more-text-about-school {
      margin-top: 30px;
      text-decoration: underline;
      cursor: pointer; }
  .about-school .commets-block-about-school {
    position: relative;
    margin-top: 12px;
    margin-left: 40px; }
    .about-school .commets-block-about-school .comment {
      position: relative;
      padding-top: 15px;
      padding-left: 11px;
      width: 265px;
      height: 118px;
      background: #e5e5e5;
      border-radius: 4px;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 25px;
      text-transform: uppercase; }
      .about-school .commets-block-about-school .comment:after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 70px;
        right: -15px;
        border-bottom: 10px solid transparent;
        border-left: 25px solid #e5e5e5;
        border-top: 10px solid transparent; }
    .about-school .commets-block-about-school img {
      position: absolute;
      top: -20px;
      right: -138px;
      z-index: -15; }
    .about-school .commets-block-about-school .button-about-us {
      width: 185px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      margin-top: 15px;
      color: white;
      font-family: 'MyriadPro-Regular';
      font-size: 16px;
      border: 1px solid #00aeef;
      border-radius: 4px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      background: -webkit-linear-gradient(bottom, #088cc9, #8bd9f7);
      background: linear-gradient(to top, #088cc9, #8bd9f7); }

/*Ten reasons*/
.ten-reasons {
  margin: 33px auto 0;
  width: 1024px;
  box-sizing: border-box; }
  .ten-reasons .title-ten-reasons {
    font-family: 'MyriadPro-Bold';
    font-size: 27px;
    color: #00aeef;
    text-transform: uppercase; }
  .ten-reasons .block-of-resons {
    display: inline-block;
    vertical-align: top;
    width: 505px;
    padding-top: 30px; }
  .ten-reasons .title-reason-item {
    position: relative;
    font-family: 'MyriadPro-Bold';
    font-size: 24.7px;
    width: 505px;
    height: 112px;
    padding-bottom: 25px;
    padding-left: 85px;
    padding-top: 50px;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box; }
    .ten-reasons .title-reason-item span {
      color: #00aeef; }
    .ten-reasons .title-reason-item:before {
      content: '';
      display: block;
      position: absolute;
      width: 81px;
      height: 82px;
      top: 30px;
      left: 0px; }
    .ten-reasons .title-reason-item:after {
      content: '';
      display: block;
      position: absolute;
      width: 501px;
      height: 2px;
      background: white;
      bottom: -1px;
      left: 0px;
      z-index: 100; }
  .ten-reasons #title-reason-1 article {
    left: -2px; }
  .ten-reasons #title-reason-1:before {
    background: url(../images/r1.jpg); }
  .ten-reasons #title-reason-2 article {
    left: -2px; }
  .ten-reasons #title-reason-2:before {
    background: url(../images/r2.jpg); }
  .ten-reasons #title-reason-3 article {
    left: -2px; }
  .ten-reasons #title-reason-3:before {
    background: url(../images/r3.jpg); }
  .ten-reasons #title-reason-7 article {
    left: -2px; }
  .ten-reasons #title-reason-7:before {
    background: url(../images/r7.png); }
  .ten-reasons #title-reason-8 article {
    left: -2px; }
  .ten-reasons #title-reason-8:before {
    background: url(../images/r8.png); }
  .ten-reasons #title-reason-4 article {
    width: 1024px;
    left: -565px; }
  .ten-reasons #title-reason-4:before {
    background: url(../images/r4.jpg); }
  .ten-reasons #title-reason-5 article {
    width: 1024px;
    left: -565px; }
  .ten-reasons #title-reason-5:before {
    background: url(../images/r5.jpg); }
  .ten-reasons #title-reason-6 article {
    width: 1024px;
    left: -565px; }
  .ten-reasons #title-reason-6:before {
    background: url(../images/r6.jpg); }
  .ten-reasons #title-reason-9 article {
    width: 1024px;
    left: -565px; }
  .ten-reasons #title-reason-9:before {
    background: url(../images/r9.png); }
  .ten-reasons #title-reason-10 article {
    width: 1024px;
    left: -565px; }
  .ten-reasons #title-reason-10:before {
    background: url(../images/r10.png); }
  .ten-reasons article {
    position: absolute;
    top: 109px;
    width: 1024px;
    padding-top: 37px;
    padding-left: 40px;
    padding-bottom: 46px;
    display: none;
    background: white;
    font-family: 'MyriadPro-Regular';
    font-size: 24px;
    text-transform: none;
    z-index: 3; }
    .ten-reasons article:first-letter {
      color: #00aeef; }

/*Press about me*/
.press-about-me {
  position: relative;
  width: 1024px;
  margin: 30px auto 0;
  border-top: 2px dotted #b1b1b1;
  border-bottom: 2px dotted #b1b1b1;
  padding-top: 50px;
  padding-bottom: 50px; }
  .press-about-me:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    right: 180px;
    width: 318px;
    height: 111px;
    background: url(../images/vk-o.png); }
  .press-about-me .comment-press, .press-about-me .comment-press img, .press-about-me .comment, .press-about-me .block-press-text {
    display: inline-block;
    vertical-align: top; }
  .press-about-me .comment-press img {
    margin-left: 13px; }
  .press-about-me .comment {
    position: relative;
    width: 362px;
    margin-left: 34px;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 22px;
    padding-right: 20px;
    box-sizing: border-box; }
    .press-about-me .comment:before, .press-about-me .comment:after {
      content: '';
      display: block;
      position: absolute;
      left: -30px;
      top: 40px;
      border: 15px solid transparent;
      border-right: 15px solid black; }
    .press-about-me .comment:after {
      border-right: 15px solid white;
      top: 40px;
      left: -29px; }
    .press-about-me .comment .title-comment-press {
      font-family: 'PFDinTextCompPro-Medium';
      font-size: 16px; }
    .press-about-me .comment article {
      margin-top: 15px;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 16px; }
  .press-about-me .all-comments-link {
    margin-left: 195px;
    font-family: 'PFDinTextCompPro-Regular';
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer; }
  .press-about-me .block-press-text {
    width: 418px;
    margin-left: 43px; }
    .press-about-me .block-press-text .title-press-text {
      color: #00aeef;
      font-family: 'MyriadPro-Regular';
      font-size: 24px;
      text-transform: uppercase; }
    .press-about-me .block-press-text article {
      margin-top: 15px;
      font-family: 'PFDinTextCompPro-Regular';
      font-size: 16px; }
      .press-about-me .block-press-text article span {
        font-family: 'PFDinTextCompPro-Medium'; }

/*News*/
.news {
  width: 1024px;
  margin: 72px auto 0; }
  .news .big-title-news {
    text-align: center;
    font-family: 'MyriadPro-Regular';
    font-size: 24px;
    color: #00aeef;
    text-transform: uppercase; }
  .news .item-news {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 233px;
    width: 280px;
    margin-left: 40px;
    margin-top: 12px; }
    .news .item-news img {
      margin-top: 10px;
      width: inherit; }
  .news .item-news-date {
    position: relative;
    font-family: 'PFDinTextCompPro-Regular';
    font-size: 18px;
    padding-left: 40px; }
    .news .item-news-date:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      width: 26px;
      height: 26px;
      background: url(../images/calendar.png); }
  .news .title-news {
    margin-top: 25px;
    font-family: 'PFDinTextCompPro-Medium';
    font-size: 24px; }
  .news article {
    font-family: 'PFDinTextCompPro-Regular';
    font-size: 20px; }
  .news .more-news {
    position: absolute;
    bottom: -12px;
    left: 0;
    font-family: 'PFDinTextCompPro-ThinItalic';
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer; }

/*Footer navigation*/
.footer-nav-wrapper {
  position: relative;
  min-width: 1024px;
  margin-top: 105px;
  padding-top: 50px;
  box-sizing: border-box;
  height: 100px;
  background: url(../images/pattern.png); }
  .footer-nav-wrapper .footer-nav {
    position: relative;
    width: 1024px;
    margin: 0 auto; }
    .footer-nav-wrapper .footer-nav:before {
      content: '';
      display: block;
      position: absolute;
      top: -127px;
      left: 6px;
      width: 114px;
      height: 118px;
      background: url(../images/car.png); }
    .footer-nav-wrapper .footer-nav .foote-nav-button {
      width: 185px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      margin-top: 15px;
      color: white;
      font-family: 'MyriadPro-Regular';
      font-size: 16px;
      border: 1px solid #00aeef;
      border-radius: 4px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      background: -webkit-linear-gradient(bottom, #088cc9, #8bd9f7);
      background: linear-gradient(to top, #088cc9, #8bd9f7);
      position: absolute;
      top: -90px;
      left: 450px; }
    .footer-nav-wrapper .footer-nav ul, .footer-nav-wrapper .footer-nav li, .footer-nav-wrapper .footer-nav .tel-footer-menu, .footer-nav-wrapper .footer-nav .title-address-auto-school, .footer-nav-wrapper .footer-nav .copyright {
      display: inline-block;
      vertical-align: top;
      margin-top: 0px; }
    .footer-nav-wrapper .footer-nav ul {
      list-style-type: none;
      margin-top: 0;
      margin-left: -22px; }
    .footer-nav-wrapper .footer-nav li {
      font-family: 'PFDinTextCompPro-Light';
      font-size: 18px;
      margin-left: 22px;
      cursor: pointer; }
    .footer-nav-wrapper .footer-nav .tel-footer-menu {
      position: relative;
      font-family: 'PFDinTextCompPro-Medium';
      margin-top: -6px;
      font-size: 24px;
      margin-left: 101px; }
      .footer-nav-wrapper .footer-nav .tel-footer-menu:before {
        content: '';
        display: block;
        position: absolute;
        width: 14px;
        height: 30px;
        top: 0;
        left: -20px;
        background: url(../images/phone.png); }
    .footer-nav-wrapper .footer-nav .title-address-auto-school {
      position: relative;
      margin-left: 72px;
      padding-left: 15px;
      font-family: 'PFDinTextCompPro-Medium';
      font-size: 18px;
      text-transform: uppercase; }
      .footer-nav-wrapper .footer-nav .title-address-auto-school:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -5px;
        width: 17px;
        height: 21px;
        background: url(../images/map-picker.png); }
    .footer-nav-wrapper .footer-nav .copyright {
      margin-left: 65px;
      color: white;
      font-family: 'PFDinTextCompPro-Light';
      font-size: 18px; }
      .footer-nav-wrapper .footer-nav .copyright span {
        text-transform: uppercase; }

/*Map*/
.map {
  min-width: 1024px;
  height: 500px;
  background-size: cover; }
