.question-options-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.question-item {
    position: relative;
    padding-bottom: 60px;
}

.question-controls-block {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.question-item-name {
    width: 100%;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #04b0ff;
}

button.add-option-button {
    color: #8BC34A;
}

button.delete-question-button {
    color: #D84315;
}
