%inline-block {
	display:inline-block;
	vertical-align: top;
}

%before-after-element {
	content:'';
	display: block;
	position: absolute;
}

a.xs-grey-text {
	text-decoration: none ;
}

.xs-grey-text {
	font-size: 10px;
	line-height: 12px;
	color: #bfbfbf;
	font-family: 'open_sansregular';
}

a.xs-grey-text :hover {
	text-decoration: underline !important;
}

.social-btns {
	a {
		width: 11px;
		height: 11px;
	}

	.facebook {
		margin-right: 10px;
		background: url(../images/icon-facebook.gif);
	}

	.twitter {
		background: url(../images/icon-twitter.gif);
	}
}


.main-nav ul li {
	@extend %inline-block;
	padding-left: 13px;
	padding-right: 13px;
	height: 34px;
	line-height: 27px;
	cursor: pointer;
	color: white;
	font-family: 'open_sansregular';
	font-size: 13px;
	font-weight: 600;

	&:hover {
		color: grey;
	}

}

.main-nav .active-item-main-menu {
	position: relative;
	top:-2px;
	height: 35px;
	line-height: 30px;
	background: #333333;
	
	&:hover {
		color: white;
	}
}

.simpe-text {
	font-family: 'open_sansbold';
	color:  #484848;
	font-size: 16px;
	font-weight: 700;
}

.sm-text {
	font-family: 'open_sansbold';
	color:  #333333;
	font-size: 11px;
	line-height: 15px;
	font-weight: 700;
}

.card-md {
	box-sizing: border-box;
	border-radius: 5px;
	background: white;
	padding-bottom: 16px;
	margin-bottom: 20px;

	.head-card {
		box-sizing: border-box;
		background: -webkit-linear-gradient(90deg, #f2f2f2 0%, #ffffff 100%);
		background: -moz-linear-gradient(90deg, #f2f2f2 0%, #ffffff 100%);
		background: -o-linear-gradient(90deg, #f2f2f2 0%, #ffffff 100%);
		background: -ms-linear-gradient(90deg, #f2f2f2 0%, #ffffff 100%);
		background: linear-gradient(0deg, #f2f2f2 0%, #ffffff 100%);
		width: 234px;
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin-bottom: 12px;

		p {
			line-height: 40px;
		}
	}

}

a.sm-text-orange {
	padding-left: 12px;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.sm-text-orange {
	font-family: 'open_sansbold';
	color:  #ffab00;
	font-size: 11px;
	font-weight: 700;
}

.md-text {
	font-family: 'open_sansbold';
	color:  #444444;
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 16px;
	border-bottom: 1px solid #d8d8d8;
}

.table-simple {
	width: 100%;

	tr {
		height:20px;
	}

	tr td {
		font-family: 'open_sansbold';;
		color: #333333;
		font-size: 11px;
		font-weight: 600;
		line-height: 15px;
		text-align: left;
	}

	tr td:first-child {
		font-family: 'open_sansbold';
		color: #333333;
		font-size: 11px;
		font-weight: 700;
		text-align: left;
	}
}

.table-border {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	padding-left: 22px;
	padding-top: 19px;
	padding-right: 24px;
	padding-bottom: 22px;
}

.card-fluid {
	box-sizing: border-box;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	border-radius: 5px;
	box-sizing: border-box;
	background: -webkit-linear-gradient(90deg, #f7f7f7 0%, #ffffff 100%);
	background: -moz-linear-gradient(90deg, #f7f7f7 0%, #ffffff 100%);
	background: -o-linear-gradient(90deg, #f7f7f7 0%, #ffffff 100%);
	background: -ms-linear-gradient(90deg, #f7f7f7 0%, #ffffff 100%);
	background: linear-gradient(0deg, #f7f7f7 0%, #ffffff 100%);
	width: 100%;


	.info-article {
		width: 249px;
	}

	.card-fluid-img {
		margin-top: 30px;
		margin-left: 35px;
	}

	.info-article {
		margin-top: 14px;
		margin-left: 36px;

		a {
			display: inline;
		}
	}

	* {
		@extend %inline-block;
	}
}

.footer-menu {
	li {
		@extend %inline-block;
		margin-right: 38px;
		position: relative;
		cursor: pointer;

		&:before {
			@extend %before-after-element;
			width: 2px;
			height: 2px;
			position: absolute;
			top: 8px;
			right: -20px;
			background: #b2b2b2;
		}

		&:last-child {
			&:before {
				display: none;
			}
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.btn-default {
	position: relative;
	width: 97px;
	height: 26px;
	box-sizing: border-box;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	line-height: 26px;
	padding-left: 25px;
	color: #7c7c7c;
	cursor: pointer;
	background: -moz-linear-gradient(top, #fcfcfc,#f3f3f3);
	background: -webkit-linear-gradient(top, #fcfcfc,#f3f3f3);
	background: -o-linear-gradient(top, #fcfcfc,#f3f3f3);
	background: -ms-linear-gradient(top, #fcfcfc,#f3f3f3);
	background: linear-gradient(top, #fcfcfc,#f3f3f3);

	&:hover {
		color: black;
	}

	&:before {
		@extend %before-after-element;
		width: 10px;
		height: 10px;
		top: 7px;
		left: 11px;
		background: url(../images/arrow.png);
	}
}