<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/swiper.min.css")
		link(rel="stylesheet", href="css/main.css")
		title School auto
	body
		header
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						img( src="images/test(1).png")
					.swiper-slide
						img( src="images/test(2).png")
					.swiper-slide
						img( src="images/test(3).png")
					.swiper-slide
						img( src="images/test(4).png")
					.swiper-slide
						img( src="images/test(5).png")

			.big-title Автошкола «старт»
			br
			.categories
				.title-categories подготовка водителей категорий:
				.category-items
					.category-item A
					.category-item B
					.category-item C
					.category-item D
					.category-item E
				.more-about-category Подробнее
			br
			.header-reatistation автошкола переаттестована в 2015

		.header-nav-wrapper
			.header-nav
				ul.menu
					li 
						a(href="")АВТОШКОЛЫ
					li 
						a(href="")ПРОГРАММЫ
					li 
						a(href="")ЦЕНЫ
					li 
						a(href="")ОТЗЫВЫ
					li 
						a(href="")КОНТАКТЫ
				.nav-tel +7(8442) 32 23 33
				.nav-button-feedback оставить заявку
		.program-prepare
			.title-program-prepare Программы подготовки
			ul.container-models
				li.item-model
					.item-car
						.title-item-model мопеды
						.title-model-category категории М
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model мотоциклы
						.title-model-category свыше 300 куб.см, категории А
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model легковые автомобили
						.title-model-category категории B / В1 (квадроциклы) / ВЕ (с прицепом)
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model Грузовые автомобили
						.title-model-category категории С / CE (с прицепом)
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model Автобусы
						.title-model-category категории D / DE (с прицепом)
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model ТРАКТОРЫ
						.title-model-category погрузчики, экскаваторы
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model гидроциклы
						.title-model-category 
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model Лодки и катера
						.title-model-category
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
				li.item-model
					.item-car
						.title-item-model Речные суда
						.title-model-category
					.item-price
						.title-item-price от 
							br
							|10 000 р / 2 мес
						.title-item-ap о программе
						.item-price-button Записаться!
		.about-school
			.address
				.tel-address-title Наш телефон:
				.tel-address +7 (8442) 98 46 48
				.title-addres-office офис продаж:
				.address-office ул. окружная, 34а 
					br
					|(карта автошкол)
			.text-about-school
				.title-text-about-school Сеть автошкол “Старт” это
				article 
					|Автошкола "Старт" производит подготовку
					| водителей транспортных средств категории "В" 
					| (легковые автомобили и грузовые с полной массой 
					| не более 3,5 тонн и числом перевозимых пассажиров 
					| не более 8 человек, не считая водителя). Лицензия №031059 
					| от 6 апреля 20012 г. выдана Департаментом образования города, срок действия- бессрочно.
				.more-text-about-school Подробнее&gt;
			.commets-block-about-school
				.comment на нашем сайте Вы
					br
					|можете оставить заявку
					br
					|на обучение
				img(src="images/women.png")
				.button-about-us оставить заявку
		.ten-reasons
			.title-ten-reasons 10 причин выбрать нашу сеть
			.block-of-resons
				.resons-item
					.title-reason-item(id="title-reason-1")
						span Индивидуальный
						br
						| подход к обучению
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-2")
						span собственный 
						|автодром 
						br
						|по всем стандартам
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-3")
						span рассрочка
						br
						| платежа без переплат
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-7") высокое
						span качество
						br
						| обучения
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-8")
						span индивидуальное
						br
						| расписание занятий
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
			.block-of-resons
				.resons-item
					.title-reason-item(id="title-reason-4") удобное 
						span расположение
						br
						| по всему городу
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-5") высоко
						span квалифицированный
						br
						| преподавательский состав
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-6")
						span собственный
						br
						| парк учебных автомобилей
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-9")
						span Полный 
						| спектр
						br
						| категорий обучения
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
				.resons-item
					.title-reason-item(id="title-reason-10") сопровождение
						span на всех
						br
						| этапах обучения
						article
							|  Lorem ipsum dolor sit amet, 
							|consectetur adipisicing elit. 
							|Minus, iste. Odit ipsam modi unde libero.
		.press-about-me
			.comment-press
				img(src="images/girl.png")
				.comment
					.title-comment-press Соколова Ольга Юрьевна
					article
						|Я, Соколова Ольга Юрьевна, хочу выразить благодарность
						| менеджеру по продажам Анатолию за грамотную
						| консультацию, информацию и качественное обслуживание.
				.all-comments-link Все отзывы>
			.block-press-text
				.title-press-text Пресса о нас
				article
					| Волгоградским маршруткам не хватает водителей / 
					span auto.v1.ru
					br
					|Волгоградские автошколы готовы работать по новым правилам / 
					span периодич.
					br
					|Чего не хватает в автошколах (видео) / 
					span РОССИЯ24
		.news
			.big-title-news Новости
			.item-news
				.item-news-date 16 ноября
				.title-news Программа рекомендована
				article 
					|Программа рекомендована Департаментом образования
					| в качестве обязательной. После прохождения обучения
					| по данной учебной программе сдача экзамена в 
					| ГИБДД на категории A, B, C, D, E не составит для Вас проблем.
				.more-news Подробнее
			.item-news
				.item-news-date 12 ноября
				.title-news Уроки вождения
				img(src="images/video.png")
				.more-news Подробнее
			.item-news
				.item-news-date 10 ноября
				.title-news Программа рекомендована
				article 
					|Программа рекомендована Департаментом образования
					| в качестве обязательной. После прохождения обучения
					| по данной учебной программе сдача экзамена в 
					| ГИБДД на категории A, B, C, D, E не составит для Вас проблем.
				.more-news Подробнее
		.footer-nav-wrapper
			.footer-nav
				.foote-nav-button оставить заявку
				ul
					li 
						a(href="")О нас
					li 
						a(href="")Цены 
					li 
						a(href="")Отзывы
					li 
						a(href="")Контакты
				.tel-footer-menu +7 (8442) 32 23 33
				.title-address-auto-school Адреса автошкол по районам
				.copyright разработка сайтов - 
					span ЭЛЕКОМ
		.map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10528.580121361601!2d44.490567212071056!3d48.72182037895697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41053375b85b7667%3A0x880d179cce57da41!2z0JLQvtC70LPQvtCz0YDQsNC0LCDQktC-0LvQs9C-0LPRgNCw0LTRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1426258429492" width="100%" height="500" frameborder="0" style="border:0;")
		script(src="minjs/jquery.min.js")
		script(src="minjs/swiper.js")
		script(src="minjs/script.js")
