<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="bower_components/reset-css/reset.css")
		link(rel="stylesheet", href="css/main.css")
		title Some title
	body
		.top-line.container-fluid
			.container
				.xs-grey-text.time 13:24 Uhr
				.right-content
					.social-btns
						a.facebook(href="")
						a.twitter(href="")
					a.xs-grey-text.chat-live(href="") Live Chat
					a.xs-grey-text.settings(href="") Settings
		header.main-header.container-fluid
			.container
				img.main-logo(src="images/main-logo.png", alt="")
		nav.main-nav.container-fluid
			ul.container
				li.active-item-main-menu Home
				li Races
				li Live streams 
				li Promotions
				li Statistics
				li Help
		.main-container.container
			.top-block-container
				p.simpe-text.title-deposit Deposit Money
				img.coins(src="images/coins.png", alt="")
			.main-content-block
				.content
					.left-part
						p.sm-text.new-method New method
						.card-md
							.head-card
								p.sm-text Bank
							a.sm-text-orange Bank Transfer Account
						.card-md
							.head-card
								p.sm-text Card Details
							a.sm-text-orange Transactions
							br
							a.sm-text-orange Price table
					.central-part
						p.md-text.title-with-img 1. Deposit Funds into your Account by Bank Transfer
						table.table-simple.deposit-table
							tr
								td Duration
								td 2-5 Days
							tr
								td Minimum
								td 5.00 Euro
							tr
								td Fee
								td Free
						p.md-text 2. Account Details Germany
						.table-border
							table.table-simple.account-table
								tr
									td Account Holder
									td RaceBets GmbH
								tr
									td IBAN
									td DE27 3706 9164 7110 4210 22
								tr
									td BIC
									td GENODED1MBU
								tr
									td Bank Name
									td EUR
								tr
									td Currency
									td 5.00 Euro
								tr
									td Reason for payment
									td sandbox-1000 sandbox-1000, RB 1000
						p.md-text Good to know!
						.card-fluid.info-card
							img.card-fluid-img(src="images/book.png", alt="")
							p.sm-text.info-article
								|We still offer deposits via classic 
								|bank transfer and therefore hold bank 
								|accounts in several coutries. Please keep 
								|in mind that this process can take up to 3 
								|working days for national transfers and up to 
								|5 working days for international transfers... 
								a.sm-text-orange(href="#") Learn More
					.sidebar
						.support-block
							.head-support
							a.sm-text-orange.live-chat-sb Start a Live Chat now
							br
							a.sm-text-orange.send-email-sb Send us an Email
							br
							p.sm-text.phone 
								|0808 238 0022 (free from UK) 
								br
								|+44 203 747 6778
						.secure-payment-block
							.head-secure-payment
								p.sm-text.title-secure-payment Secure Payment Guaranteed
							.main-part-secure-payment
								p.sm-text
									| Your Money and Privacy always 
									|remains 100% secure thanks to our 
									|encripted payment techmology.
		.footer.main-footer.container-fluid
			.first-part-footer
				.container
					.menu-and-btn
						ul.footer-menu
							li.sm-text About us
							li.sm-text Contact
							li.sm-text Responsible gaming
							li.sm-text Terms and conditions
							li.sm-text Privacy policy
							li.sm-text Legal
							li.sm-text Affiliates
						.btn.btn-default.btn-top.sm-text Back to top
					.payment-systems-block
						img.payments(src="images/payments.gif", alt="")
					article.xs-grey-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ratione perferendis, nemo, animi cupiditate totam suscipit ducimus ipsam eveniet eaque perspiciatis libero. Ut tempora cum quo non illum quod quam, quaerat, qui aliquid amet architecto eligendi incidunt sequi molestias quia perspiciatis repudiandae ad temporibus quas, vel voluptates unde. Minima dolorem voluptates, pariatur recusandae eius. Vel impedit tenetur beatae eligendi corrupti hic voluptatibus, porro aspernatur incidunt molestiae dolores animi ea praesentium, ipsam voluptas cupiditate perspiciatis eum nihil natus exercitationem! Numquam quasi placeat officiis voluptates, impedit ad reprehenderit fugiat, a quos reiciendis nulla, iste eveniet repudiandae. Consectetur vitae sapiente cupiditate totam laboriosam.
			.second-part-footer
				.container
					img.footer-logo(src="images/footer-logo.png", alt="")
					article.xs-grey-text
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						|Ea numquam odio voluptate. Aliquam incidunt similique, 
						|et quasi ducimus quos aut autem non dignissimos dicta sit 
						|provident, voluptatibus ut blanditiis perspiciatis cum, 
						|vel temporibus minima enim. Asperiores omnis placeat officiis a
						| tenetur sit recusandae, reprehenderit neque. Tempora quibusdam perferendis id ratione.


