.item-main-nav {
	font-family: 'allerregular';
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		color: #FBDADA;
	}

	&:active {
		color: #AF8383;
	}
}

.btn-open-menu {
	width: 40px;
	height: 30px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 4px;
	background: rgba(0,0,0,.4);
	cursor: pointer;

	.pipe-btn {
		width:30px;
		height: 3px;
		margin: 5px auto 0;
		background: white;
	}
}


.large-text-white {
	font-family: 'allerregular';
	color: #ffffff;
	font-size: 52px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}

.big-text-white {
	font-family: 'allerlight';
	color:  #ffffff;
	font-size: 37px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 40px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}

.medium-text-white {
	font-family: 'opensanslight';
	color:  #ffffff;
	font-size: 21px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}

/* Btn dependences */
	.btn {
		border-radius: 3px;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
		font-family: 'allerbold';
		font-size: 18px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
	}

	.btn-success {
		background-color:  #71a329;
		color:  #ffffff;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);

		&:hover {
			background-color:  #91CC3D;
		}

		&:active {
			background-color: #6DAA15;
		}
	}

	.lg-btn {
		width: 410px;
		line-height: 67px;
		height: 67px;
	}

.big-text-grey {
	font-family: 'allerbold';
	color:  #4e5b61;
	font-size: 36px;
	font-weight: 700;
}

.medium-text-grey {
	font-family: 'opensansregular';
	color:  #4e5b61;
	font-size: 19px;
	font-weight: 400;
	line-height: 27px;
}

.circle-btns {
	.circle-btn {
		border-radius: 50%;
		background-color:  rgba(78, 91, 97, 0.5);
		width: 12px;
		height: 12px;
		margin-right: 8px;
		cursor:pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	.not-active-circle-btn {
		&:hover {
			background-color: rgba(137, 152, 159, 0.5);
		}

		&:active {
			background-color:  #4e5b61;
		}
	}

	.active-circle-btn {
		background-color: #4e5b61;
	}
}

.grey-btn-group {
	div:first-child {
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}

	div:last-child {
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
		border-right: 1px solid #cacdcf;;
	}

	.grey-btn {
		width: 119px;
		height: 50px;
		font-family: 'allerregular';
		color:  #a6adb0;
		font-size: 16px;
		font-weight: 400;
		line-height: 50px;
		text-align: center;
		border: 1px solid #cacdcf;
		border-right:none;
		cursor: pointer;
	}

	.not-active-grey-btn {
		&:hover {
			background-color: #DEE5EB;
			color: #ffffff;
		}

		&:active {
			background-color:  #cacdcf;
		}
	}

	.active-grey-btn {
		background-color:  #cacdcf;
		color:  #ffffff;
	}
}

.name-text {
	font-family: 'opensansbold';
	color:  #4e5b61;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 700;
}

.comment-person {
	font-family: 'opensansregular';
	color:  #4e5b61;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.copy-text {
	font-family: 'allerlight';
	color:  #4e5b61;
	font-size: 16px;
	font-weight: 300;
}

.item-footer-menu {
	font-family: 'allerlight';
	color:  #a6adb0;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}