@import "../base/index.css";
@import "components.css";
@import "modules/index.css";

.container {
	width: 630px;
	margin: 0 auto;
}

.container-fluid {
	min-width: 630px;
	width: 100%;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.google-and-apple *,
.iphone5,
.block-about-us,
.circle-btn,
.grey-btn,
.persons,
.persons .person-info .avatar,
.persons .person-info .person-content,
.contact-us-info,
.copy-text,
.footer-menu,
.item-footer-menu {
	display: inline-block;
	vertical-align: top;
}


.active-about-us-item {
	display: inline-block;
}

.iphone5,
.block-about-us,
.persons,
.contact-us-info {
	display: block;
	margin: 0 auto;
}

.block-about-us,
.contact-us-info,
.marco-photo .large-text-white {
	text-align: center;
}