/* First module */
	.first-module {
		height: 643px;
		background: url("../../../images/bg1.png") center center;
		background-size: cover;
	}

	.main-header {
		padding-top: 50px;
	}

	.main-nav {
		padding-top: 38px;
		float: right;

		li {
			margin-right: 15px;

			&:last-child {
				margin-right: 15px;
			}
		}
	}

	/* Block after header */
		.block-after-header {
			.title {
				margin-top: 50px;
				height: 40px;
			}

			.subtitle {
				width: 480px;
				margin-top: 30px;
				height: 70px;
			}

			.some-text {
				width: 375px;
				height: 47px;
				margin-top: 20px;
			}

			.get-app-btn {
				margin-top: 45px;
			}

			.google-and-apple {
				margin-top: 10px;

				* {
					cursor: pointer;
				}

				.apple-btn {
					margin-right: 20px;
					width: 195px;
					height: 67px;
					background: url("../../../images/appstore.png");
				}

				.google-btn {
					width: 195px;
					height: 67px;
					background: url("../../../images/googleplay.png");
				}
			}
		}

/* .about-us-module */
	.about-us-module {
		margin-top: 86px !important;
	}

	.block-about-us {
		padding-top: 70px;
		margin-left: 60px;
		width: 552px;
		position: relative;

		.medium-text-grey {
			margin-top: 28px;
		}
	}

	.circle-btns {
		margin: 32px auto 0;
		width: 60px;
		text-align: center;
	}

	.grey-btn-group {
		margin: 72px auto 0;
		width: 370px;
		text-align: center;
	}

/* marco */
	.marco-wrapper {
		margin-top: 70px;
		height: 500px; 
		background: url("../../../images/bg2.png") center center;
		background-size: cover;
	}

	.marco-photo {
		padding-top: 58px;

		.big-text-white {
			margin-top: 17px;
			width: 620px;
		}
	}

/* .contact-us-module */

	.contact-us-module {
		margin-top: 80px !important;
	}

	.persons {
		width: 425px;
	}

	.person-info {
		margin-bottom: 30px;
	}

	.person-content {
		margin-left:18px;
		width: 284px;
		padding-top: 10px;

		.comment-person {
			margin-top: 10px;
		}
	}

	.contact-us-info {
		width: 460px;
		margin-left: 60px;
	}

	.first-article {
		margin-top: 25px;
	}

	.second-article {
		margin-top: 40px;
	}

/* Footer */

.footer-line-wrapper {
	margin-top: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid rgba(78, 91, 97, 0.3);
}

.social-footer-menu {
	float: right;
}

.footer-menu,
.social-footer-menu {
	li {
		margin-left: 10px;
		position:relative;

		&:before {
			content:'';
			width: 2px;
			height: 2px;
			position: absolute;
			top: 7px;
			left: -5px;
			background: #a6adb0;
		}
	}
}