<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="bower_components/reset-css/reset.css")
		link(rel="stylesheet" media="(min-width: 1024px)" href="css/desktop/main.css")
		link(rel="stylesheet" media="(max-width: 1023px) and (min-width: 800px)" href="css/tablet/main.css")
		link(rel="stylesheet" media="(max-width: 799px)" href="css/phones/main.css")
		title Marco Photography
	body
		video(autoplay loop  id="bgvid")
			source(src="video/iphone6.webm" type="webm")
			source(src="video/iphone6.mp4" type="mp4")
		.container-fluid.first-module
			.container
				header.main-header
					img.logo(src="images/Logo.png", alt="")
					.main-nav-wrapper
						ul.main-nav.inline-block
							li.item-main-nav HOME
							li.item-main-nav About
							li.item-main-nav Features
							li.item-main-nav Contact
					.btn-open-menu
						.pipe-btn
						.pipe-btn
						.pipe-btn
				.block-after-header
					p.large-text-white.title Hello.
					p.big-text-white.subtitle We take mobile photography to a brand new level.
					p.medium-text-white.some-text With our free app you can take amazing photos straight from your phone.
					.btn.btn-success.lg-btn.get-app-btn Get the Free App
					.google-and-apple
						a.apple-btn
						a.google-btn
		.container-fluid.white-container
			.container.about-us-module
				img.iphone5(src="images/iphone5.png")
				.block-about-us
					.about-us-item.active-about-us-item.about-us-item-first
						p.big-text-grey About Us
						p.medium-text-grey Despreneur is a magazine about design,
							|technology and entrepreneurship. Nowadays designers play major roles in successful 
							|startups and established companies. A Despreneur, coined by us, is 
							|a new breed of human being – a designer with entrepreneurial mindset.
					.about-us-item.about-us-item-second
						p.big-text-grey Some text 2
						p.medium-text-grey Despreneur is a magazine about design,
							|technology and entrepreneurship. Nowadays designers play major roles in successful 
							|startups and established companies. A Despreneur, coined by us, is 
							
					.about-us-item.about-us-item-third
						p.big-text-grey Some Text 3
						p.medium-text-grey Despreneur is a magazine about design,
							|technology and entrepreneurship. Nowadays designers play major roles in successful 
							|startups and established companies. A Despreneur, coined by us, is 
							|a new breed of human being – a designer with entrepreneurial mindset.
					.circle-btns
						.circle-btn.active-circle-btn(data-class="first")
						.circle-btn.not-active-circle-btn(data-class="second")
						.circle-btn.not-active-circle-btn(data-class="third")
				.grey-btn-group
					.grey-btn.active-grey-btn Macro
					.grey-btn.not-active-grey-btn Filters
					.grey-btn.not-active-grey-btn Sharing
		.container-fluid.marco-wrapper
			.container.marco-photo
				p.large-text-white Macro photography.
				p.big-text-white No more expensive lenses and heavy editing in Photoshop.
		.container-fluid.white-container
			.container.contact-us-module
				.persons
					.person-info
						img.avatar(src="images/man.png", alt="")
						.person-content
							p.name-text Bryan Jones
							p.comment-person Wannabe travel fanatic. Food buff. Internet ninja. Unapologetic web practitioner. Tvaholic. Alcohol scholar.
					.person-info
						img.avatar(src="images/women.png", alt="")
						.person-content
							p.name-text Sarah Thompson
							p.comment-person Infuriatingly humble student. Bacon scholar. Freelance communicator. Social media enthusiast.
				.contact-us-info
					p.big-text-grey Contact Us
					p.medium-text-grey.first-article
						| Here on the left you can see our team which makes things happen.
					p.medium-text-grey.second-article
						| If you have any questions, suggestions or want to contribute,
						| please contact Despreneur at hi[at]despreneur.com.
						| We’ll get back to you as soon as possible.
		.container-fluid.footer-line-wrapper
			.container
				.copy-and-footer-nav
					.copy-text © 2013 Photography App
					ul.footer-menu
						li.item-footer-menu App
						li.item-footer-menu Home
						li.item-footer-menu Press
						li.item-footer-menu FAQ
						li.item-footer-menu Blog
						li.item-footer-menu Terms
						li.item-footer-menu Privacy
				ul.social-footer-menu
					li.item-footer-menu Instagram
					li.item-footer-menu Twitter
					li.item-footer-menu Facebook
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/main.js")