<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="bower_components/reset-css/reset.css")
		link(rel="stylesheet", href="css/main.css")
		title Some title
	body
		script(src="js/main.js")