body {
    font: normal 14px Verdana;
    background: url("../img/body_bg.bmp") repeat center center;
}

.wrap {
    display: table;
    margin: 0 auto;
    width: 580px;
    margin-top: 50px;
}
/* Calculator container */
.calculator {
    background: #444;
    border-radius: 4px;
    display: table;
    padding: 5px;
    float: left;
    margin: 0 5px;
}

/* Buttons general */
.button {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
    background: #bebebe url("../img/btnbg.png") repeat-x bottom center;
    cursor: pointer;
    text-shadow: -1px 1px 0 #ccc;
 }
.button:hover {
    background-image: url("../img/btnbgh.png");
    background-position: top;
}
.button:active {
    box-shadow:inset 1px -1px 16px #666;
}

/* Output field */
.field {
    width: 258px;
    height: 40px;
    background: #ffffff;
    border: none;
    margin: 5px 0 5px 5px;
    float: left;
    text-align: right;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
    font-size: 18px;
    color: #333;
}

/* Special buttons */
.num   { background-color: #dadada !important; }
.main  { background-color: #b891dd !important; }
.equ   { background-color: #78cb44 !important; }
.equ1  { background-color: #bae450 !important; }
.equ2  { background-color: #dcb755 !important; }
.reset { background-color: #d34947 !important; }
.empty { background: #fff; }
.del {
    margin: 5px 5px 5px 0 !important;
    border-radius: 0px 4px 4px 0 !important;
    border-left: 1px solid white;
}

/* Format */
.c_union_2 { width: 130px; } /* 2 columns union */
.b { font-size: 120%;}       /* for main operations */


.clear { clear: both; }

/* Additional block for results */
.calculator_more {
    background: #444;
    border-radius: 4px;
    display: table;
    padding: 10px 10px 5px 10px;
    margin-right: 5px;
    width: 183px;
}

/*Grads block*/
.block {
    background: #848484;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

.first_block {
    height: 26px;
    overflow: hidden;
    clear: both;
}
.lite {
    background: #ffffff;
    opacity: 0.3;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}

 .lite:hover {
    opacity: 0.4;
}
.grads {
    font-size: 10px;
    padding: 2px 4px;
    color: #000;
    cursor: pointer;
}

.grads:hover {
    background: url("../img/arr.png") top center no-repeat;
}

.left {
    float: left;
}

.right {
    float: right;
}
.on {
    background: url("../img/arr_b.png") top center no-repeat;
    color: #004372;
    font-weight: normal;
}

/* Additional block */
.saved_block {
    display: table;
    background: #848484;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

.saved_block .top_line {
    background: #444;
    display: inline-block;
    margin-bottom: 3px;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 8px;
    width: 100%;
}

.top_line .operations_line {
    float: left;
    padding: 4px;
}

.top_line .clear_block {
    float: right;
    background: #eee;
    color: #000;
    padding: 4px;
    width: 16px;
    border-radius: 0 4px 4px 0;
    text-align: center;
    cursor: pointer;
}

.top_line .clear_block:hover {
    background: #ccc;
}

.field_line .button {
    height: 22px;
    line-height: 23px;
    width: 20px;
    margin: 0;
    text-shadow: none;
    border-radius: 4px 0 0 4px;

}

.field_line .field_saved {
    width: auto;
    height: 14px;
    padding: 4px;
    border-radius: 0 4px 4px 0;
    border: none
}

