$greyColour:#fffbfa;
$redColour:#fc4606;
$whiteColour: white;
$greyBorderprices: #545454;
$bgPrices: #181818;
$blacklColour: #000;
$secondBorderColourFooter: #242323;


a {
	text-decoration:none;
}

.cleafix {
	clear: both;
	display:block;
}

.bg-text {
	font-family: 'MyriadPro-Regular';
	font-size: 20px;
	color: $whiteColour;
}

.bg-btn {
	display: block;
	width: 280px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'MyriadPro-Regular';
	font-size: 20px;
	color: $greyColour;
	cursor: pointer;

	&:hover {
		background: red;
	}

	&:active {
		a {
			border: none;
		}
		background: brown;
	}
}


.red-btn {
	background: $redColour;
	-webkit-box-shadow: 0px 0px 20px 0px $redColour;
	-moz-box-shadow:    0px 0px 20px 0px $redColour;
	box-shadow:         0px 0px 20px 0px $redColour;
}


.main-menu {
	.active-item {
		background: $redColour;

		a {
			color: $whiteColour;
		}
	}

	.item-main-menu {
		box-sizing: border-box;
		display: inline-block;
		height: 52px;
		text-align: center;
		
		font-family: 'MyriadPro-Regular';
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
		cursor: pointer;

		&:active {
			a {
				color: $redColour;
			}
		}
	}

	a {
		color: $whiteColour;
		padding-bottom: 7px;

		&:hover {
			border-bottom: 2px solid $redColour;
		}
	}
}


.md-text {
	font-family: 'MyriadPro-Regular';
	color: $whiteColour;
	font-size: 16px;
	font-weight: 400;
}

.sm-text {
	font-family: 'MyriadPro-Regular';
	color: $whiteColour;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.red-text {
	color: $redColour !important;
}

.bg-caps-title {
	font-family: 'MyriadPro-Regular';
	font-size: 20px;
	text-transform: uppercase;
	color: $whiteColour;
}

.block-metals {
	width: 235px;
	height: 240px;
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid $greyBorderprices;
	background: $bgPrices;

}

.tab-item {
	width: 112px;
	height: 46px;
	line-height: 48px;
	font-family: 'MyriadPro-Regular';
	color: $whiteColour;
	font-size: 16.57px;
	padding: 35px, 18px;
	font-weight: 400;
	text-align: center;
	border: 1px solid $greyBorderprices;
	display:inline-block;
	cursor: pointer;
}

.active-tab {
	border: 1px solid $redColour;
	background: $redColour;
	cursor: default;
}

.xs-text {
	font-family: 'MyriadPro-Regular';
	color:  #ffffff;
	font-size: 12px;
	font-weight: 400;
}

.footer-nav {
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 1px solid $blacklColour;
	-webkit-box-shadow: 0px 1px 0px 0px $secondBorderColourFooter;
	-moz-box-shadow: 0px 1px 0px 0px $secondBorderColourFooter;
	box-shadow: 0px 1px 0px 0px $secondBorderColourFooter;

	.item-footer-menu {
		display: inline-block;
		vertical-align: top;
		line-height: 20px;
		text-align: center;
		margin-right: 20px;
		cursor: pointer;

		a {
			color: $whiteColour;
		}

		a:hover {
			color: $redColour;
			text-decoration: underline;
		}
	}
}