extends template

block fluid-content
	.container-fluid.main-part-site-wrapper
		.container.current-good
			.chain-menu
				a(href="#").sm-text-regular-grey Строительство и перегородки
				.sm-text-regular-grey-light Кирпич
			p.text-black-biggest Шпатлевка гипсовая многофункциональная Semin CE3000
			.block-left
				.good-info
					.three-params
						.info-item
							span.bg-grey-text-regular Страна: 
							span.bg-black-text-regular Франция
						.info-item
							span.bg-grey-text-regular Марка: 
							span.bg-black-text-regular Semin
						.info-item
							span.bg-grey-text-regular Вес: 
							span.bg-black-text-regular 5 кг
					p.xs-text-grey-regular Минимальная цена
					p.text-black-biggest от 400 255
					button.btn.yellow-big-btn Смотреть товар
				img.advertising-square-img(src="images/squareAdv.jpg", alt="")
			.wrapper-table-of-goods-after-filter
				table.goods-table-leroy-block
					thead
						tr
							th
								span.sm-grey-text-dotted Поставщик
							th
								span.sm-grey-text-dotted Город
							th
								span.sm-grey-text-dotted Цена
							th
					tbody
						-for (var i = 0; i < 8; ++i) {
							tr
								td.td.bg-black-text-regular.trader Leroy Merlin
								td.sm-grey-text-regular Архангельск
								td.bg-black-text-regular.money 4 255
								td
									button.btn.yellow-border-btn.bg-black-text Смотреть
						-}
