extends template

block fluid-content
	.container-fluid.main-part-site-wrapper
		.container
			.leroy-merlin-block
				img.merlin-logo(src="images/leroyLogo.png", alt="")
				.merlin-information
					p.lg-black-text-bold Leroy Merlin (Леруа Мерлен)
					p.bg-black-text-regular Гипермаркет строительных материалов.
					p.md-grey-text-bold Шпатлевки, гипсокартон, кирпич, изоляция, товары для дома и сада.
				.merlin-contacts
					p.lg-black-text-bold 8 800 232-23-42
					a(href="#").md-yellow-bright-text.email company@name.ru
					p.bg-black-text-regular.city г. Санкт-Петербург
					a(href="#").sm-yellow-bright-text.link-shops Адреса магазинов
				button.btn.yellow-btn.long-btn Скачать прайс-лист поставщика
			table.goods-table-leroy-block
				thead
					tr
						th
							span.sm-grey-text-dotted Наименование
						th
							span.sm-grey-text-dotted Бренд
						th
							span.sm-grey-text-dotted Характеристики
						th
							span.sm-grey-text-dotted Цена
						th
				tbody
					tr
						td.bg-black-text-regular Кирпич
						td.bg-black-text-regular Кремлевский
						td.bg-black-text-regular
							p.some-text ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss Красный, облицовочный
						td.bg-black-text-regular.money 4 255
						td
							button.btn.yellow-border-btn.bg-black-text Смотреть
					tr
						td.bg-black-text-regular Кирпич
						td.bg-black-text-regular Кремлевский
						td.bg-black-text-regular 
							p.bg-black-text-regular Красный, облицовочный, 1000 шт
						td.bg-black-text-regular.money 194 255
						td
							button.btn.yellow-border-btn.bg-black-text Смотреть
					tr
						td.bg-black-text-regular Кирпич
						td.bg-black-text-regular Кремлевский
						td.bg-black-text-regular Красный, облицовочный, водоне…
						td.bg-black-text-regular.money 24 255
						td
							button.btn.yellow-border-btn Смотреть
					tr
						td.bg-black-text-regular Кирпич
						td.bg-black-text-regular Кремлевский
						td.bg-black-text-regular Красный, облицовочный
						td.bg-black-text-regular.money 255 
						td
							button.btn.yellow-border-btn.bg-black-text Смотреть
					tr
						td.bg-black-text-regular Шпатлевка
						td.bg-black-text-regular Rotband
						td.bg-black-text-regular Белая, особосыпучая. Самонано…
						td.bg-black-text-regular.money 4 255
						td
							button.btn.yellow-border-btn.bg-black-text Смотреть