extends template

block fluid-content
	.container-fluid.page-accordions
		.container
			.acordions-block
				.accordion.first-acrd
					p.bg-text-black-thin.title-blade.head
						span.text  Отделочные и лакокрасочные материалы
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-brick.head
						span.text Бетон, ЖБИ, возведение стен
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-roof.head
						span.text Кровля и водосток
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-isolation.head
						span.text Изоляция
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокнпо","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-waterTap.head
						span.text Сантехника, отопительнеые системы
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
				.accordion
					p.bg-text-black-thin.title-sand.head
						span.text Сыпучие материалы
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-tile.head
						span.text Керамогранит, плитка
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-pine.head
						span.text Пиломатериалы
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-nail.head
						span.text Металлопрокат, метизы
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
					p.bg-text-black-thin.title-lamp.head
						span.text Электрика
					div.acrd-content
						ul.menu-acrd
							each value in ["Гипсокартон, гипсоволокно","Линолеум","Потолки","Обои","Ламинат","Ковровые покрытия","Плинтус","Паркет","Вентилируемые фасады"]
								li
									a(href="#").md-grey-text-thin.item-menu-acrd=value
			img.advertising-img(src="images/advertising.png", alt="")