extends template

block fluid-content
	.container-fluid.main-part-site-wrapper.some-good-content
		.container
			.chain-menu
				a(href="#").sm-text-regular-grey Строительство и перегородки
				.sm-text-regular-grey-light Кирпич
			p.text-black-biggest Кирпичи
			.block-options-of-choose.accordion
				p.md-black-text-regular.title-acrdn-options.head Цена
				.acrd-content-filter.acrdn-slider
					input.md-input-text.sm-black-text-regular(type="text" value="от")
					span.sm-black-text-regular.dash -
					input.md-input-text.sm-black-text-regular(type="text" value="до")
					.polzunok
				p.md-black-text-regular.title-acrdn-options.head Производитель
				.acrd-content-filter.acrdn-checkbox
					input.checkbox-input(type="checkbox" id="pr1")
					label.sm-black-text-regular.label-checkbox(for="pr1") Базалит ДВ
					br
					input.checkbox-input(type="checkbox" id="pr2")
					label.sm-black-text-regular.label-checkbox(for="pr2") Наименование компании
				p.md-black-text-regular.title-acrdn-options.head Тип
				.acrd-content-filter.acrdn-checkbox
					input.checkbox-input(type="checkbox" id="pr3")
					label.sm-black-text-regular.label-checkbox(for="pr3") dadawdqw
					br
					input.checkbox-input(type="checkbox" id="pr4")
					label.sm-black-text-regular.label-checkbox(for="pr4") qwdqwdqd
				p.md-black-text-regular.title-acrdn-options.head Материал
				.acrd-content-filter.acrdn-checkbox
					input.checkbox-input(type="checkbox" id="pr5")
					label.sm-black-text-regular.label-checkbox(for="pr5") qwdqwdqwdqwd
					br
					input.checkbox-input(type="checkbox" id="pr6")
					label.sm-black-text-regular.label-checkbox(for="pr6") qdqwdqwd
				p.md-black-text-regular.title-acrdn-options.head Цвет
				.acrd-content-filter.acrdn-checkbox
					input.checkbox-input(type="checkbox" id="pr7")
					label.sm-black-text-regular.label-checkbox(for="pr7") qwdqwd
					br
					input.checkbox-input(type="checkbox" id="pr8")
					label.sm-black-text-regular.label-checkbox(for="pr8") qwdqwd
				p.md-black-text-regular.title-acrdn-options.head Габариты
				.acrd-content-filter.acrdn-dimensions
					.dimension-item
						span.sm-black-text-regular.title-dimension Длина
						input.sm-input-text.sm-black-text-regular(type="text" value="от")
						span.sm-black-text-regular.dash -
						input.sm-input-text.sm-black-text-regular(type="text" value="до")
						select.select-form-dimesions(name="")
							option(value="dq") s 
							option(value="wd") s
							option(value="qw") s
					.dimension-item
						span.sm-black-text-regular.title-dimension Ширина
						input.sm-input-text.sm-black-text-regular(type="text" value="от")
						span.sm-black-text-regular.dash -
						input.sm-input-text.sm-black-text-regular(type="text" value="до")
						select.select-form-dimesions(name="")
							option(value="dq") s 
							option(value="wd") s
							option(value="qw") s
					.dimension-item
						span.sm-black-text-regular.title-dimension Толщина
						input.sm-input-text.sm-black-text-regular(type="text" value="от")
						span.sm-black-text-regular.dash -
						input.sm-input-text.sm-black-text-regular(type="text" value="до")
						select.select-form-dimesions(name="")
							option(value="dq") s 
							option(value="wd") s
							option(value="qw") s
					.dimension-item
						span.sm-black-text-regular.title-dimension Объем
						input.sm-input-text.sm-black-text-regular(type="text" value="от")
						span.sm-black-text-regular.dash -
						input.sm-input-text.sm-black-text-regular(type="text" value="до")
						select.select-form-dimesions(name="")
							option(value="dq") s 
							option(value="wd") s
							option(value="qw") s
				p.md-black-text-regular.title-acrdn-options.title-dimension.head Плотность
				.acrd-content-filter.acrdn-checkbox
					input.checkbox-input(type="checkbox" id="pr9")
					label.sm-black-text-regular.label-checkbox(for="pr9") qwdqwd
					br
					input.checkbox-input(type="checkbox" id="pr10")
					label.sm-black-text-regular.label-checkbox(for="pr10") qwdqwd
			.block-results-of-filtering
				.header-of-filtering
				-for (var i = 0; i < 8; ++i) {
				.result-of-filter
					.left-block-result-filter
						.bg-black-text-regular.main-title Затирка AXTON А.410
						p.xs-text-black-regular.little-title Оттенок кирпич, 2 кг, Россия, 
						p.xs-text-black-regular Производитель: ООО Геркулес-Сибирь (для региона Сибирь), ООО Литокол (для остальных регионов)
					.right-block-result-filter
						button.btn.yellow-border-btn.bg-black-text-regular от 4 255 
						p.xs-text-grey-regular 47 уп. в 5 магазинах
				-}