<!DOCTYPE html>
html(lang="en" ng-app="app")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/index.css")
		title Test work
	body
		.wrapper
			.content
				header.container-fluid
					.container
						.logo-slogan-block
							img.main-logo(src="images/mainLogo.png", alt="")
							span.md-white-text Поставщики стройматериалов со всей страны
						.region-block
							span.md-white-text Ваш регион : 
								span.md-yellow-text-dotted Москва
						ul.top-menu-block
							li
								a(href="#").md-yellow-text-solid О сервисе
							li
								a(href="#").md-yellow-text-solid Разместить свой прайслист
				.container-fluid.search-block
					.container
						p.text-black-biggest Найдите оптовые цены на любые стройматериалы
						form.search-form(action="")
							input.big-input.search-input(type="text" placeholder="Введите нужный материал. Например, гипсокартон..")
							button.btn.yellow-btn-large-btn(type="submit") Найти
				block fluid-content
			footer.main-footer.container-fluid
				.container
					.footer-menu-title.fm1
						p.bg-black-text-thin.title-footer-menu Покупателям
						ul.footer-menu
							li
								a(href="#").md-grey-text-thin-solid Частые вопросы
							li
								a(href="#").md-grey-text-thin-solid Контакты
							li
								a(href="#").md-grey-text-thin-solid Найти специалиста
					.footer-menu-title.fm2
						p.bg-black-text-thin.title-footer-menu Компания
						ul.footer-menu
							li
								a(href="#").md-grey-text-thin-solid О сервисе
							li
								a(href="#").md-grey-text-thin-solid Политика конфиденциальности
							li
								a(href="#").md-grey-text-thin-solid Наши реквизиты
							li
								a(href="#").md-grey-text-thin-solid Договор оферты
					.phones-and-time-work
						p.bg-black-text-thin.phone 8-800-775-1060
							span.sm-grey-text-thin (по России)
						p.bg-black-text-thin.phone 8-499-215-1014
							span.sm-grey-text-thin (междунароный)
						p.md-black-text-thin.time-work Время работы:
							p.md-grey-text-thin.days-work Пн-Пт с 7:00 до 19:00
							p.md-grey-text-thin.days-work Сб-Вс с 11:00 до 19:00
					.social-btns-block
						p.bg-black-text-thin Будьте с нами на связи
						.btns-social
							a(href="#")
								.fa.fa-vk
							a(href="#")
								.fa.fa-facebook
							a(href="#")
								.fa.fa-odnoklassniki
							a(href="#")
								.fa.fa-instagram
							a(href="#")
								.fa.fa-google-plus
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="js/app.js")
