.about {
  &-section {
    .shop-section-title {
      margin: {
        top: 35px;
        bottom: 30px;
      }
    }
  }

  &-main-information {
    display: flex;
    flex-direction: column;
    @include mq("tablet-wide") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-text {
    @extend %mont-bold;
    width: 100%;
    box-sizing: border-box;
    padding: {
      left: 10px;
      right: 10px;
    }

    @include mq("tablet-wide") {
      flex-basis: 50%;
    }
  }

  &-pipelines {
    margin-top: 10px;
    position: relative;

    @include mq("tablet-wide") {
      flex-basis: 50%;
      margin-top: 0;
    }
  }

  &-item-pipeline {
    width: 300px;
    height: 40px;
    border: 2px solid $pink-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 20px;


    .fill-section-pipeline {
      height: 36px;
      line-height: 36px;
      width: 156px;
      padding-left: 25px;
      color: white;
      @extend %mont-bold;
      font-size: 14px;
      background: $pink-color;
    }
  }

}