.shop-container.shop-container-header {
  width: 100%;

  @include mq("tablet-wide") {
    width: 1024px;
  }
}

.header-navigation,
.footer-navigation {
  width: 205px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  li {
    text-decoration: underline;
    @extend %mont-bold;
    font-size: $small-font-size;
    transition: .5s;

    &:hover {
      text-decoration: none;
    }

    @include mq("tablet-wide") {
      cursor: pointer;
    }
  }
}

.footer-navigation {
  margin: {
    bottom: 20px;
  }
  @include mq("tablet-wide") {
    margin-bottom: 0;
  }
  color: $pink-color;
}

.header-navigation {
  margin: {
    top: 20px;
    bottom: 125px;
  }
  order: 2;
  li {
    color: white;
  }

  @include mq("tablet-wide") {
    order: 2;
    margin: 0;
  }
}

.footer-info-block,
.header-info-block {
  width: 100%;
  order: 1;
  background-color: rgba(255,255,255,.7);
  text-align: center;
  height:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include mq("tablet-wide") {
  .header-info-block,
  .footer-info-block {
    text-align: right;
    margin: 0;
  }

  .header-info-block {
    order: 3;
    background: none;
    width: initial;
    .header-info-item {
      color: white;
    }
  }

  .footer-info-block {
    order :2;
    height: initial;
  }
}

.header-info-item,
.footer-info-item {
    @extend %mont-regular;
    line-height: 17px;
    font-size: $small-font-size;
    color: black;
    list-style-type: none;
}

.header {
  min-height: 50vh;
  background: {
    image: url("/assets/images/header-bg.png");
    position: center center;
    size: cover;
    repeat: no-repeat;
  }

  &-top-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include mq("tablet-wide") {
      padding-top: 30px;
      margin-bottom: 75px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-info-item {
    @extend %mont-regular;
    line-height: 17px;
    font-size: $small-font-size;
    color: black;
    list-style-type: none;
  }

  &-logo {
    order: 3;
    margin-bottom: 40px;

    @include mq("tablet-wide") {
      order: 1;
      margin-bottom: 0;
    }
  }

  &-main-part {
    color: white;
    text-align: center;
    width: 100%;
    h1 {
      @extend %mont-bold;
      text-transform: uppercase;
      padding: {
        left: 20px;
        right: 20px;
      }
      font-size: $large-font-size;
      line-height: 32px;
      margin-bottom: 10px;

      @include mq("tablet-wide") {
        font-size: $extra-large-font-size;
        width: 500px;
        line-height: 54px;
        margin: 0 auto 40px;
      }
    }

    .header-subtitle {
      padding: {
        left: 50px;
        right: 50px;
      }
      margin-bottom: 20px;
      font: {
        family: "Roboto Light";
        weight: 100;
        size: $medium-font-size;
      }
      line-height: 20px;

      @include mq("tablet-wide") {
        font-size: $extra-big-font-size;
        margin-bottom: 30px;
      }

    }

    .shop-btn-primary {
      margin: 0 auto 25px;
    }
  }
}

.footer {
  border-top: 4px solid $pink-color;
  .shop-container {
    padding-top: 20px;
  }

  &-social-section {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: flex-start;
    margin: {
      bottom: 20px;
    }

    @include mq("tablet-wide") {
      margin: {
        bottom: 0;
      }
    }
  }

  &-item-social {

    @include mq("tablet-wide") {
      cursor: pointer;
    }

    &.facebook {
      @include sprite($icon-facebook);
    }

    &.twitter {
      @include sprite($icon-twitter);
    }

    &.google-plus {
      @include sprite($icon-google-plus);
    }

    &.youtube {
      @include sprite($icon-youtube);
    }
  }

  &-bottom-part {
    border-top: 4px solid $lignt-blue-color;
    display: flex;
    flex-direction: column;

    @include mq("tablet-wide") {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 30px;
    }

  }

  &-location-block {
    order: 2;
    position: relative;
    font-size: $small-font-size;
    @extend %mont-bold;
    line-height: 17px;
    margin-bottom: 25px;
    padding: {
      left: 30px;
      right: 80px;
    }

    @include mq("tablet-wide") {
      order: 1;
      margin-bottom: 0;
    }

    &:first-line {
      @extend %mont-regular;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 10px;
      @include sprite($icon-map-picker);
    }
  }

  &-top-line {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq("tablet-wide") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding:{
        top: 20px;
        bottom: 20px;
      }
    }

    > img {
      margin-bottom: 35px;
      @include mq("tablet-wide") {
        margin-bottom: 0;
      }
    }
  }
}

.header-navigation a ,
.footer-navigation a {
  color: inherit;
  test-decoration: none;
}


