.service-explanation {
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    @include mq("tablet-wide") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .shop-section-title {
      margin-bottom: 20px;
      @include mq("tablet-wide") {
        flex-basis: 100%;
      }
    }
  }

  &-item {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 5px;
    margin: {
      bottom: 10px;
    }
    padding: {
      left: 18px;
      bottom: 15px;
    }
    box-sizing: border-box;
    height: 240px;
    color: white;
    background: {
      size: cover;
      position: center center;
      repeat: no-repeat;
    };

    @include mq("tablet-wide") {
      width: 280px;
      height: 400px;

      &:nth-of-type(2) {
        margin-left: 60px;
      }

      &:nth-of-type(4) {
        margin-right: 60px;
      }
    }

    &:nth-of-type(2) {
      background: {
        image: url("/assets/images/explain-bg1.png");
      }
    }

    &:nth-of-type(3) {
      background: {
        image: url("/assets/images/explain-bg2.png");
      }
    }

    &:nth-of-type(4) {
      background: {
        image: url("/assets/images/explain-bg3.png");
      }
    }

    &-title {
      @extend %mont-bold;
      font-size: $extra-big-font-size;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &-description {
      width: 255px;
      color: rgba(255,255,255,.7);
      font: {
        family: "Roboto Light";
        size: $small-font-size;
      }
      line-height: 16px;
    }

    .shop-label {
      margin-bottom: 20px;
    }
  }
}

.testimonials {
  &-section {
    margin-top: 35px !important;

    .shop-section-title {
      margin-bottom: 45px;
    }

    .shop-btn-default {
      margin: 30px auto 45px;
    }
  }

  &-items-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq("tablet-wide") {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &-item {
    text-align: center;
    padding: {
      left: 60px;
      right: 60px;
    }

  @include mq("tablet-wide") {
    width: 215px;
    padding: {
      left: 0;
      right: 0;
    }
  }

    > img {
      margin-bottom: 20px;
    }

    &:not(:first-child) {
      margin-top: 30px;

      @include mq("tablet-wide") {
        margin-top: 0;
      }
    }

    &-name {
      @extend %mont-bold;
      font-size: $small-font-size;
      margin-bottom: 15px;
    }

    &-text {
      font: {
        family: "Roboto Light";
        size: $small-font-size;
      }
      color: #989898;
    }
  }
}