<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="bower_components/reset-css/reset.css")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="bower_components/swiper/dist/css/swiper.min.css")
		link(rel="stylesheet" href="css/desktop/main.css")
		link(rel="stylesheet" href="css/desktop/main.css")
		link(rel="stylesheet" href="css/desktop/main.css")
		title Weee Nederland
	body
		header.main-header.container-fluid
			.container
				.top-line
					img.main-logo(src="images/logo-main.png", alt="")
					nav.header-menu
						li.item-main-menu AANPAK
						li.item-main-menu DIENSTEN
						li.item-main-menu OVER ONS
						li.item-main-menu ACTIES
						li.item-main-menu NIEUWS
						li.item-main-menu MEDIA
						li.item-main-menu CONTACT
						li.item-main-menu Login
					form(action="")
						button.search-btn
			.container-fluid.slider.swiper-container
				.swiper-wrapper
					.item-slider.swiper-slide
						.item-info-page-style1
							.md-title-style-1 Onze visie
							.simple-text-articles 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								| sed diam nonummy nibh euismod tincidunt ut laoreet dolore
								| magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
								| quis nostrud exerci tation ullamcorper suscipit lobortis nisl
								| ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
								| in hendrerit in vulputate velit esse molestie consequat,
					.item-slider.swiper-slide
						.item-info-page-style1
							.md-title-style-1 Onze visie
							p.simple-text-articles 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								| sed diam nonummy nibh euismod tincidunt ut laoreet dolore
								| magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
								| quis nostrud exerci tation ullamcorper suscipit lobortis nisl
								| ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
								| in hendrerit in vulputate velit esse molestie consequat,
					.item-slider.swiper-slide
						.item-info-page-style1
							.md-title-style-1 Onze visie
							.simple-text-articles 
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
								| sed diam nonummy nibh euismod tincidunt ut laoreet dolore
								| magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
								| quis nostrud exerci tation ullamcorper suscipit lobortis nisl
								| ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
								| in hendrerit in vulputate velit esse molestie consequat,
		.container.titel-over-module
				p.big-title TITEL OVER SROI / MVO
				p.simple-text-articles 
					| Lorem ipsum dolor sit amet, 
					| consectetuer adipiscing elit, sed diam nonummy
					| nibh euismod tincidunt ut laoreet dolore magna 
					|aliquam erat volutpat. Ut wisi enim ad minim veniam, 
					|quis nostrud exerci tation ullamcorper suscipit lobortis 
					|nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
					|iriure dolor in hendrerit in vulputate velit esse molestie consequat,
		.container-fluid.verpraaksaam-module
			.container
				p.big-title.title-with-pictures Verpraaksaam
				.column-verpr
					p.md-title-style-2 VERNIEUWEND
					p.simple-text-articles Lorem ipsum dolor sit amet,
						| consectetuer adipiscing elit, sed diam nonummy 
						|nibh euismod tincidunt ut laoreet dolore magna 
						|aliquam erat volutpat.
					a.link-style1 Meer >
				.column-verpr
					p.md-title-style-2 PRAKTISCH
					p.simple-text-articles Lorem ipsum dolor sit amet,
						| consectetuer adipiscing elit, sed diam nonummy 
						|nibh euismod tincidunt ut laoreet dolore magna 
						|aliquam erat volutpat.
					a.link-style1 Meer >
				.column-verpr.last-column-verpr
					p.md-title-style-2 SAAMHORIG
					p.simple-text-articles Lorem ipsum dolor sit amet,
						| consectetuer adipiscing elit, sed diam nonummy 
						|nibh euismod tincidunt ut laoreet dolore magna 
						|aliquam erat volutpat.
					a.link-style1 Meer >
				.paper-blocks
					.item-info-page-style2
						p.md-title-style-2 Communicatie
						p.simple-text-articles Lorem ipsum dolor sit amet, consectetuer 
							|adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
							|laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
							| veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
							| Ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
							|in hendrerit in vulputate velit esse molestie consequat. Lorem ipsum 
							|dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					.item-info-page-style2.second-paper-block
						p.md-title-style-2 MAATSCHAPPELIJKE / SOCIALE WAARDE
						p.simple-text-articles Lorem ipsum dolor sit amet, consectetuer 
							|adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
							|laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
							| veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
							| Ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
							|in hendrerit in vulputate velit esse molestie consequat. Lorem ipsum 
							|dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
		.container.out-team-module
			p.big-title ons team
			.block-of-persons
				.item-person.bill-person
					.info-person
						.persons-init
							p.person-name RENS VAN DER HORST
							br
							p.person-profession Medewerker X
						.facebook-md-btn
				.item-person.girl1-person
					.info-person
						.persons-init
							p.person-name SANDRA KLAVER
							br
							p.person-profession Medewerker X
						.facebook-md-btn
				.item-person.girl2-person
					.info-person
						.persons-init
							p.person-name INGE SCHOLTENT
							br
							p.person-profession Medewerker X
						.facebook-md-btn
				.item-person.girl1-person
					.info-person
						.persons-init
							p.person-name SANDRA KLAVER
							br
							p.person-profession Medewerker X
						.facebook-md-btn
				.item-person.bill-person
					.info-person
						.persons-init
							p.person-name RENS VAN DER HORST
							br
							p.person-profession Medewerker X
						.facebook-md-btn
		footer.main-footer.container-fluid
			.container.footer-data
				img.footer-logo(src="images/logo-footer.png", alt="")
				p.simple-text-articles
					|© 2015 WEEE Nederland BV Wilmersdorf 36 7327 AC Apeldoorn
					br
					|info@weee.nl    +31 (0)55 5335547
					br
					|Algemene Voorwaarden
				.social-btns
					.facebook-lg
					.twitter-lg
				.btn-language
					.nl-languge NL
					.en-languge EN


		script(src="bower_components/swiper/dist/js/swiper.min.js")
		script(src="js/main.js")