<!DOCTYPE html>
html(lang="en" ng-app="app")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width")
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        link(rel="stylesheet", href="bower_components/Swiper/dist/css/swiper.min.css")
        link(rel="stylesheet", href="bower_components/bootstrap.min.css")
        link(rel="stylesheet", href="bower_components/lightbox.css")
        link(rel="stylesheet", href="css/index.css")
        title Landing
    body
        .modal-wrapper-thanks
            .modal-thanks
                p.the-biggest-text-green-bold Cпасибо за вашу заявку.
                p.lg-text-black-thin Мы свяжемся с вами через 5 минут.
        header.container-fluid.main-header
            .container
                .row
                    .col-md-12.col-lg-5.logo-slogan
                        img.mainLogo(src="images/mainLogo.png", alt="")
                        p.sm-text-black-thin.slogan Ведение бухгалтерского учета под ключ в Санкт-Петербурге и области
                    .col-md-12.col-lg-4.col-lg-offset-3
                        p.lg-text-black-thin.header-phone (812) 654 43 43
                .row
                    .col-lg-12
                        ul.main-nav
                            li.main-nav-item 
                                a(href="#link1") Почему мы
                            li.main-nav-item
                                a(href="#link2") Услуги 
                            li.main-nav-item
                                a(href="#link3") Как мы работаем
                            li.main-nav-item
                                a(href="#link4") Отзывы
                            li.main-nav-item
                                a(href="#link5") Контакты
                p.the-biggest-text-green-bold.main-title-header Бухгалтерское обслуживание и снижение налоговой нагрузки на 80%
                p.md-text-black-thin.subtitle-header Мы гарантируем качество и чистоту проведения учета. Наша ответственность застрахована.
                .row.header-bottom-block-content
                    .col-lg-6.col-md-12
                        .service-item-block
                            .service-item-img.service-1
                            p.md-text-black-thin 
                                span.md-text-black-bold Срочный 
                                | выезд и решение бухгатерских задач за 
                                span.md-text-black-bold 24 
                                | часа
                        .service-item-block
                            .service-item-img.service-2
                            p.md-text-black-thin 
                                span.md-text-black-bold Самостоятельно 
                                | ведем переговоры с налоговым инспектором
                        .service-item-block
                            .service-item-img.service-3
                            p.md-text-black-thin 
                                |Настроим 
                                span.md-text-black-bold специфичный 
                                | документооборот для 
                                span.md-text-black-bold гибкого учета и выхода из особых ситуаций
                    .col-lg-6.col-md-12
                        .green-border-block-wrapper
                            .crop-corner-block
                                p.bg-text-black-bold Получите консультацию главного бухгалтера и  проверку учетной документации
                                form#formValid1(method="post" name="form" type="actionForm" novalidate="novalidate" )
                                    input.bg-form-input(type="text" name="phone" class="required phone valid" placeholder="Ваш номер телефона")
                                    p.sm-text-black-thin Мы перезвоним вам, ответим на вопросы и поможем решить проблемы
                                    input.bg-yellow-btn.submit( class="formButton" name="submit" type="submit" value=" Получить консультацию")
                                    p.xs-text-black-thin Отправка телефона вас ни к чему не обязывает. Рекламы и спама не будет
        .container-fluid.second-wide-block#link1
            .row
                .col-lg-3.col-lg-offset-2.col-md-12.left-text-block
                    p.lg-text-black-thin Мы видели все – 25 лет практики в бухгалтерском учете. Найдем выход из любой ситуации
                .col-lg-4.col-md-12.green-block.green-block-right
                    p.md-text-white-bold.benefit-item Имеем связи в гос органах
                    p.md-text-white-bold.benefit-item Подписываем соглашение о конфиденциальности
                    p.md-text-white-bold.benefit-item Наша ответственность застрахована в СК ПАРИ на 6 млн руб
                .col-lg-3.col-md-12.img-bg-block.first-row-img
            .row
                .col-lg-3.col-md-12.img-bg-block.second-row-img
                .col-lg-5.col-md-12.green-block.green-block-left
                    p.md-text-white-bold.benefit-item Срочно приедем на проведение проверки
                    p.md-text-white-bold.benefit-item Присутствуем на проверках и быстро предоставим нужные документы
                    p.md-text-white-bold.benefit-item Проконтролируем правомерность запросов налогового инспектора
                    p.md-text-white-bold.benefit-item Можем представлять ваши интересы в качестве главного бухгалтера
                .col-lg-3.col-md-12.right-text-block
                    p.lg-text-black-thin Наши клиенты не боятся налоговой.Все переговоры мы берем на себя
            .row
                .col-lg-3.col-md-12.col-lg-offset-3.left-text-block
                    p.lg-text-black-thin Нет «человеческого фактора».Ваши деньги всегда в безопасности
                .col-lg-6.col-md-12.img-bg-block.third-row-img
        .container.second-form-block
            p.the-biggest-text-black-bold.big-title-second-form-block
                span.p.the-biggest-text-green-bold Вернем деньги, 
                |если наш бухгалтерский учет не снизит налоговую нагрузку
            .green-border-block-wrapper
                .row
                    .col-md-12.col-lg-6.big-thin-text
                        p.lg-text-black-thin Узнайте, как решить вашу проблему в бухгалтерском учете и налогообложении
                    .col-md-12.col-lg-6
                        p.lg-text-black-thin(style="visibility:hidden") Узнайте, как решить вашу проблему в бухгалтерском учете и налогообложении
                        .crop-corner-block
                            p.sm-text-black-thin.slogan Мы перезвоним вам, ответим на вопросы и поможем решить проблемы
                            form(action="" id="formValid2")
                                input.bg-form-input(type="tel" name="phone" class="phone" required="required" placeholder="Ваш номер телефона")
                                button.btn.bg-yellow-btn(name="submit" type="submit") Получить консультацию
                            p.xs-text-black-thin Отправка телефона вас ни к чему не обязывает. Рекламы и спама не будет
        .container-fluid.yellow-block-wrapper#link2
            .container
                p.the-biggest-text-black-bold.big-title-yellow-block
                    |Мы выполняем 
                    span.p.the-biggest-text-green-bold полный цикл бухгалтерских услуг
                .row.item-service-yellow-block-row
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv1 Полное ведение 
                            span.md-text-black-thin бухгалтерского учета, в том числе формирование и сдача отчетов. Расчет налогов
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv2 Кадровый учет
                            span.md-text-black-thin и расчет зарплаты
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv3 Бесплатные консультации
                            span.md-text-black-thin по налогообложению и бухучету
                .row.item-service-yellow-block-row
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv4 Оптимизация налогов
                            span.md-text-black-thin и снижение налоговой нагрузки
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv5 Разработка и внедрение
                            span.md-text-black-thin специфического документооборота
                    .col-md-12.col-lg-4.item-service-yellow-block
                        p.lg-text-black-thin.it-serv6 Оптимизация 1С
                            span.md-text-black-thin бухгалтерии для удобства ведения учета
                .row.three-benefits-yellow-block-row
                    .col-md-12.col-lg-4.item-benefit-yellow-block
                        p.lg-text-black-thin Устранение бухгалтерских ошибок
                    .col-md-12.col-lg-4.item-benefit-yellow-block
                        p.lg-text-black-thin Восстановление бухгалтерского учета
                    .col-md-12.col-lg-4.item-benefit-yellow-block
                        p.lg-text-black-thin Нулевая отчетность
                .green-border-block-wrapper
                    .row
                        .col-lg-12
                            p.lg-text-black-thin Мы пришлем вам варианты тарифов на бухгалтерское сопровождение с особыми предложениями по работе с налогами
                        .col-lg-12
                            .crop-corner-block
                                form(action="" id="formValid3")
                                    input(placeholder="Ваш номер телефона" class="phone" type="text" required="required").bg-form-input
                                    input(type="email" placeholder="Ваш e-mail").bg-form-input
                                    button.btn.bg-yellow-btn(name="submit" type="submit") Получить консультацию
                                    p.xs-text-black-thin Отправка телефона вас ни к чему не обязывает. Рекламы и спама не будет
        .container.after-yellow-block#link3
            p.title-after-yellow-block.the-biggest-text-black-bold
                span.the-biggest-text-green-bold Находим решение 
                | в любых сложных и экстремальных ситуациях в вашем учете
            .row
                .col-md-4.green-block
                    p.lg-text-white-thin Выездная налоговая проверка через
                        br
                        | 1 день,
                    span.md-text-white-thin а документы не готовы
                .col-md-4
                    p.lg-text-black-thin.white-check Утрачено 50% бухгалтерского учета за период
                .col-md-4.green-block
                    p.lg-text-white-thin Налоговая угрожает штрафами и судом
            .row.second-row-ayb
                .col-md-4
                    p.lg-text-black-thin.white-check Подготовка к камеральным проверкам
                    span.md-text-black-thin вплоть до представления интересов
                .col-md-4.green-block
                    p.lg-text-white-thin
                        span.md-text-white-thin Контроль за проверками по внебюджетным фондам:
                        | ФСС, кредитные, бюджетный фонд, ндфл
                .col-md-4
                    p.lg-text-black-thin.white-check Решение проблем с блокировкой счета
        .container-fluid.wide-grey-line
        .container.after-wide-grey-line-container
            p.title-after-wide-line-block.the-biggest-text-black-bold
                span.p.the-biggest-text-green-bold Для максимально эффективной работы 
                | вашей бухгалтерии мы разрабатываем индивидуальные решения и оказываем дополнительные услуги
            .row
                .col-md-4
                    p.lg-text-black-thin Консалтинг и партнерские взаиморасчеты
                .col-md-4
                    p.lg-text-black-thin Разработка уникального документо-
                        br
                        |оборота
                .col-md-4
                    p.lg-text-black-thin Внедрение и оптимизация управленческого учета
        .container-fluid.second-yellow-block-wrapper
            .container
                p.title-second-yellow-block.the-biggest-text-black-bold
                    span.the-biggest-text-green-bold На 80% 
                    | уровень налогов и безопасность денег компании основаны на выборе правильного бухгалтера
                .green-border-block-wrapper
                    .row
                        .col-lg-6
                            p.lg-text-black-thin Мы перезвоним вам и проконсультируем
                            p.xs-text-black-thin Рассылок и спама не будет. Ваши данные останутся в строгой конфиденциальности.
                        .col-lg-6
                            p.lg-text-black-thin(style="visibility:hidden") Мы перезвоним вам и проконсультируем
                            .crop-corner-block
                                form(action="" id="formValid4")
                                    input(placeholder="Ваш номер телефона" class="phone" type="tel" name="phone" required="required").bg-form-input
                                    button.btn.bg-yellow-btn(name="submit" type="submit") Получить консультацию
        .container.after-second-yellow-block
            p.title-after-second-yellow-block.the-biggest-text-black-bold Мы исправляем последствия чужих ошибок
            .comments-wrapper
                .hidden-comment-blocks
                    .comment-block.yellow-comment.left-comment.md-text-black-thin 
                        |Описание проблемы, которую создал другой бухгалтер. Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .comment-block.green-comment.right-comment.md-text-black-thin 
                        |Описание проблемы, которую создал другой бухгалтер. Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .comment-block.yellow-comment.left-comment.md-text-black-thin 
                        |Описание проблемы, которую создал другой бухгалтер. Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .comment-block.green-comment.right-comment.md-text-black-thin 
                        |Описание проблемы, которую создал другой бухгалтер. Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.btn.md-border-btn#trigger-btn Еще примеры
        .container-fluid.wide-grey-line
        .container.slider-container#link4
            p.title-slider-block.the-biggest-text-black-bold 
                span.the-biggest-text-green-bold 90% наших клиентов 
                | приходят по рекомендации
            .swiper-container
                .swiper-wrapper 
                    .swiper-slide
                        a.example-image-link(href="images/Blagodarnost_2.jpg" data-lightbox="example-1")
                            img.doc-img.example-image(src="images/Blagodarnost_2-tr.jpg", data-lightbox="example-1" alt="")
                        .content-slide
                            .md-text-black-bold.name Соков О.А.
                            .sm-text-thin-italic Генеральный директор ООО «КРАФТ СПб»                              
                            article.sm-text-black-thin 
                                |Благодарю бухгалтерскую компанию «Юнитек» в лице Левкиной Н.К. за оперативное решение 
                                |проблемы со сдачей годового отчета.  Проблема возникла в связи неожиданным увольнением 
                                |нашего главного бухгалтера в декабре 2015 года. Мы приглашали специалистов из нескольких 
                                |бухгалтерских компаний, но никто не брался за решение этой задачи за адекватную стоимость.
                                |Но Левкина Наталья Николаевна, не только подготовила нам все необходимые документы для успешной 
                                |сдачи годового отчета, но и полностью настроила систему документооборота отвечающего всем нормам 
                                |и правилам надзорных органов. После этого , мы приняли решение перейти на текущее обслуживание 
                                |нашей организации фирмой «Юнитек» .
                                br
                                br
                                |Спасибо большое.
 
                    .swiper-slide
                        a.example-image-link(href="images/Blagodarnost_3.jpg" data-lightbox="example-1")
                            img.doc-img.example-image(src="images/Blagodarnost_3-tr.jpg", data-lightbox="example-1" alt="")
                        .content-slide
                            .md-text-black-bold.name Гудкова С.С.
                            .sm-text-thin-italic Генеральный директор ООО «ПрофТехСервис»        
                            article.sm-text-black-thin 
                                |ООО «ПрофТехСервис» благодарит ООО «Юнитек» за оказанные услуги по ведению 
                                |бухгалтерского учета нашей фирмы, предоставленные квалифицированные и 
                                |оперативные консультации по возникающим вопросам в области бухгалтерского и налогового учета.
                                br
                                br
                                |Профессионализм ваших сотрудников и качество работы заслуживают самой высокой оценки!
                                br
                                br
                                |Желаем успехов в вашей деятельности, здоровья и надеемся на дальнейшее и плодотворное сотрудничество!
 
                    .swiper-slide 
                        a.example-image-link(href="images/Blagodarnost_5.jpg" data-lightbox="example-1")
                            img.doc-img.example-image(src="images/Blagodarnost_5-tr.jpg", data-lightbox="example-1" alt="")
                        .content-slide
                            .md-text-black-bold.name Румянцева В. Г.
                            .sm-text-thin-italic Генеральный директор ООО «Журнал «История. Право. Политика»                           
                            article.sm-text-black-thin 
                                |Издательство ООО «Журнал «История. Право. Политика» благодарит компанию 
                                |ООО «ЮНИТЕК» за помощь в решении вопросов бухгалтерского учета, а так же 
                                |за индивидуальный подход к каждому клиенту при консультировании по 
                                |вопросам коммерческой деятельности и управления предприятием.
                                br
                                br
                                |Отдельно отмечаем высокий уровень профессионализма Ваших сотрудников, их умение решать все задачи оперативно и без проблем.
                                br
                                br
                                |Желаем процветания Вашему бизнесу и дальнейшего развития наших партнерских отношений.
 
                    .swiper-slide 
                        a.example-image-link(href="images/Blagodarnost_4.jpg" data-lightbox="example-1")
                            img.doc-img.example-image(src="images/Blagodarnost_4-tr.jpg", data-lightbox="example-1" alt="")
                        .content-slide
                            .md-text-black-bold.name Смирнов Н.А.
                            .sm-text-thin-italic С уважением, генеральный директор ООО «Альта»    
                            article.sm-text-black-thin 
                                |От лица ООО «Альта»  выражаю благодарность ООО «Юнитек»  и лично главному 
                                |спецециалисту Левкиной Н.К. за эффективное и результативное сотрудничество. 
                                |Которое выражается в успешном решении всех поставленных перед ней задач по 
                                |восстановлению документооборота, бухучета и обслуживания нашей организации  
                                |в сложный переходный момент связанный со сменой налогообложения с УСН на НДС-ую.
                                |До начала сотрудничества с компанией «Юнитек» у нас был негативный 
                                |опыт работы с другой аутсорсинговой организацией, что привело к 
                                |потере времени и дополнительных затрат. Но сотрудники компании «Юнитек»
                                |сумели в кратчайшие сроки исправить положение без лишних вложений!
                                |Желаю компании «Юнитек» новых успехов и решений новых увлекательных задач у хороших и приятных клиентов!
 
                    .swiper-slide 
                        a.example-image-link(href="images/Blagodarnost_1.jpg" data-lightbox="example-1")
                            img.doc-img.example-image(src="images/Blagodarnost_1-tr.jpg", data-lightbox="example-1" alt="")
                        .content-slide
                            .md-text-black-bold.name Кононенко Д.Ю.
                            .sm-text-thin-italic С уважением, генеральный директор ООО «КОСКО»  
                            article.sm-text-black-thin 
                                |Выражаю искреннюю признательность бухгалтерской компании «Юнитек» в лице бухгалтера Лескиной Н.К., которая закреплена для работы с нашей компанией, за выполнение в полном объемом всех бухгалтерских работ. 
                                br
                                br
                                |Эти работы были осуществлены качественно и на высоком профессиональном уровне. При выполнении работ отличаю высокую организацию производства работ и неукоснительное соблюдение сроков договора.
                                |Благодаря нашим совместным усилиям, реализуются проекты и планы, принося нам огромное моральное удовлетворение и доход. 
                                br
                                br
                                |Желаем успешного развития и достижения новых вершин в бизнесе.

            .swiper-button-next
            .swiper-button-prev
        .circle-button.button-up
        footer.container-fluid.main-footer#link5
            .row
                .col-md-12.col-lg-6.map-footer
                    iframe.map-google(<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16000.30334366129!2d30.3015210367646!3d59.91491804923808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630f7ddfdf607%3A0xfa4e8966550b88d9!2zNi3RjyDQmtGA0LDRgdC90L7QsNGA0LzQtdC50YHQutCw0Y8g0YPQuy4sIDI0LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTAwMDU!5e0!3m2!1sru!2sua!4v1443712666021" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
                .col-md-12.col-lg-6.footer-form-block
                    .content-form-block
                        p.title-footer-block.the-biggest-text-black-bold У вас остались вопросы?
                        .green-border-block-wrapper
                            .crop-corner-block
                                form(action="" id="formValid5")
                                    input(type="text" class="phone" placeholder="Ваш номер телефона" required="required").bg-form-input
                                    textarea.form-textarea(placeholder="Чем мы можем вам помочь?" required="required")
                                    button.btn.bg-yellow-btn(name="submit" type="submit") Задать вопрос
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
        script(src="bower_components/Swiper/dist/js/swiper.js")
        script(src="bower_components/modernizr.custom.js")
        script(src="bower_components/lightbox-2.6.min.js")
        script(src="js/app.js")