/**
*Created by Balion 22.03.15
*Last modify 29.03.15
*/

//MENU OF CSS CODE

/*
* 1. General styles
* 2. Header
*	a) Header wrapper
*	b) Main header
*		| First lever list
*			+ Second level list
*				* Image item in second level list
*		| Select language
* 3. First block
*	a) First block wrapper
*	b) Container first block
*		| Our products title & menu
* 4. Slider block
* 5. Block with articles
*	a) Orange white content
*	b) Articles
* 6. Footer 
*	a) wrappers & general styles
*	b) Top part of footer
*		| Facebook
*	c) Bottom part of footer
* 7. Contact-us button
*/


@import 'mixins';



//general styless

	* {
		margin:0;
		padding:0;
		transition: all .4s;
	}

	body {
		background: #f3f3f3;
	}

//Header

	//Header wrapper

		.header-wrapper {
			background: white;
			font-family: Tahoma;
			min-width: 1180px;
			position: relative;
		}

	//Main header

		.main-header {
			height: 77px;
			margin: 0 auto;
			overflow: hidden;
			width: 1180px;

			img,
			ul,
			ul li,
			.select-lang {
				@include inline-block-elements;
			}

			img {
				margin-left: 15px;
			}
		}

	//First lever list

		.first-level-list {
			height: 75px;
			margin-left: 100px !important;
			margin:0;
			padding: 0;

			.item-level-list-menu {
				color: #333333;
				cursor: pointer;
				font-size: 13px;
				height: 75px;
				line-height: 75px;
				text-align: center;
				text-transform: uppercase;
				width: 115px;

				&:active {
					border-bottom: 2px solid #ff4700;
					color: #ff4700;
					transition: none;
				}

				&:first-child:hover {
						background: #8c8d8d;
						border: none;

						.second-level-nav-list {
							opacity:1;
							top:75px;
							z-index:15;
						}
				}
			}
		}

		.open-menu-button {
			display: inline-block;
			visibility: hidden;
		}

	//Second level list

		.second-level-nav-list {
			background: #8c8d8d;
			box-sizing: border-box;
			color: white;
			font-size: 14px;
			height: 210px;
			left:0;
			min-width: 1180px;
			opacity:0;
			padding-bottom: 46px;
			padding-left:0;
			padding-top: 27px;
			position: absolute;
			text-align: center;
			top:0;
			width: 100%;
			z-index:-15;

			li {
				@include inline-block-elements;
				color:white;
				margin-left: 28px; ///
				text-transform: none;
				width: 117px;

				&:first-child {
					margin-left:0;
				}

				@for $i from 1 through 8 {
					@include second-level-list-item(#{$i});
				}
			}
		}

		//Image item in second level list

		.image-item {
			height: 117px;
			width: 117px;

			p {
				box-sizing:border-box;
				font-size: 14px;
				height: 117px;
				line-height: 14px !important;
				opacity:0;
				padding-top: 43px;
				text-align:center;
				width:117px;
			}
		}

		.title-under-image-item {
			line-height: 14px;
			margin-top: 8px;
			opacity:1;
			text-align: left ;
			width: 100px;
		}

	//Select language

	.select-lang {
		border-left: 1px solid #dddddd;
		border-right: 1px solid #dddddd;
		cursor:pointer;
		height:75px;
		margin-left: 113px;
		overflow: hidden;
		text-align: center;
		width:70px;

		p {
			margin-top: 30px;
			position: relative;
			text-align:center;
			width: inherit;

			&:first-child {
				background: url(../images/notactiveMenuArrow.png) 50px center no-repeat;
			}
		}


		&:hover {
			background:#8c8d8d;
			border:none;
			color:white;
			height:150px;
			padding-bottom:30px;

			p:first-child {
				background: url(../images/activeMenuArrow.png) 50px center no-repeat;
			}
		}
	}


//First block

	//first block wrapper

	.first-block-wrapper {
		background-image: url(../images/bigHouse.png);
		background-size: cover;
		color:white;
		font-family: Tahoma;
		height: 520px;
		min-width:1180px;
	}

	//Container first block

	.first-block {
		@include center-blocks;
		padding-top: 115px;
		text-align:center;

		.main-title,
		.sub-title {
			background:rgba(0,0,0,.7);
		}

		.main-title,
		.third-title {
			text-transform:uppercase;
		}

		.main-title {
			font-size: 36px;
			font-weight: bold;
			height: 53px;
			line-height: 53px;
			margin: 0 auto;
			padding-bottom: 4px;
			width: 810px;
		}

		.sub-title {
			font-size: 24px;
			height: 40px;
			margin: 2px auto 0;
			width: 650px;
		}

		.third-title {
			background: #212121;
			border-radius: 4px;
			font-size: 14px;
			height: 40px;
			line-height: 40px;
			margin: 14px auto 0;
			position: relative;
			width: 290px;

			&:before {
				@include before-after-elements;
				background: url(../images/iconEvro.png) center center no-repeat, #ff4700;
				border-radius: 50%;
				height: 22px;
				left: 38px;
				top:9px;
				width: 22px;
			}
		}
	}

		//Our products title & menu

			.our-products-title-block {
				margin-top: 100px;

				.line,
				.title-our-products,
				.line {
					@include inline-block-elements;
				}

				.line {
					background: rgba(255,255,255,.5);
					height: 1px;
					margin-top: 7px;
					width: 499px;
				}

				.title-our-products {
					font-size: 14px;
					padding: 0 20px 0 20px;
				}
			}

			.first-block-menu {
				margin:0;
				margin-top: 25px;
				padding:0;

				li {
					@include inline-block-elements;
					background: white;
					color: #333333;
					cursor: pointer;
					font-size: 13px;
					font-weight: bold;
					height: 47px;
					line-height: 47px;
					margin-left: 1px;
					text-transform: uppercase;
					width: 188px;

					&:hover {
						background: #333333;
						color: #eb4200;
					}
				}
			}

//Slider block

.slider-block {
	color: white;
	font-family: Tahoma;
	margin:33px auto 0;
	padding-bottom: 35px;
	width: 1170px;

	.slider-item {
		@include inline-block-elements;
		box-sizing: border-box;
		font-size: 14px;
		height: 250px;
		overflow: hidden;
		padding-top: 190px;
		position: relative;
		text-align: center;
		width: 360px !important;

		span {
			font-size: 18px;
			font-weight: bold;
			padding-bottom: 10px;
			text-transform: uppercase;
		}

		.bookmark {
			background: #eb4200;
			font-size: 12px;
			font-weight: bold;
			height: 35px;
			left: -142px;
			line-height: 35px;
			margin-left:0;
			position: absolute;
			top: 32px;
			width: 125px;

			&:before {
				@include before-after-elements;
				@include triangles(35px,18px);
				height:0;
				right: -18px;
				top:0;
				width:0;
			}
		}

		&:hover {
			.bookmark {
				left: 0;
			}
		}
	}

	@for $i from 1 through 3 {
		@include image-in-item-slider(#{$i});
	}
}

.swiper-pagination-bullet {
		background: #635454;
}

.swiper-pagination-bullet-active {
		background: #eb4200;
}

//Block with articles

.block-with-articles {
	margin: 63px auto 0;
	width: 1180px;
}

	//Orange white content

	.orange-white-content {
		background: white;
		font-family: Tahoma;
		height: 60px;
		width: inherit;

			* {
				@include inline-block-elements;
				font-size: 14px;
				line-height: 60px;
				text-align: center;
			}

			.orange-title {
				background: #eb4200;
				color: white;
				font-weight: bold;
				position: relative;
				text-transform: uppercase;
				width: 510px;

				&:after,
				&:before {
					@include before-after-elements;
				}

				&:after {
					@include triangles(60px, 30px);
					height:0;
					right: -30px;
					top:0;
					width:0;
				}

				&:before {
					background: url(../images/iconPresent.png) center center no-repeat, #ffffff;
					border-radius: 50%;
					height: 33px;
					left:55px;
					top:15px;
					width: 33px;
				}
			}

			.white-title {
				color: #5f5f5f;
				width: 665px;
			}
}

	//Articles

		.articles {
			margin: 65px auto 70px;
			width: 1180px;

			.left-articles,
			.right-articles {
				@include inline-block-elements;
			
			}

			.left-articles {
				width: 505px;
			}

			.right-articles {
				margin-left: 145px;
				width: 525px;
			}


			.second-title-article {
				margin-top: 33px;
			}

			.title-article {
				color: #2f2f2f;
				font-family: Tahoma;
				font-size: 13px;
				margin-bottom: 9px;
			}

			article {
				color: #999999;
				font-family: Tahoma;
				font-size: 13px;

				span {
					color: #eb4200;
				}
			}
		}

//Footer

	//wrappers & general styles

		.main-footer,
		.top-part-footer-wrapper {
			background: #939494;
			min-width: 1180px;
		}
		.top-part-footer-wrapper {
			border-bottom: 1px solid #a6a6a6;
		}

		.top-part-footer,
		.bottom-part-footer {
			margin: 0 auto;
			width: 1180px;

			img,
			p,
			ul,
			.facebook,
			.facebook-wrapper {
				@include inline-block-elements;
				margin-left: 11px;
				margin-top: 16.25px;
			}


		}

	//Top part of footer

		.top-part-footer {
			color: white;
			font-family: Tahoma;

			.text-logo-becker {
				color: white;
				font-family: Tahoma;
				font-size: 11px;
				margin-left: 8px;
				width: 80px;
			}

			ul {
				padding: 0;
				text-align: center;
				width: 478px;

				li {
					@include inline-block-elements;
					cursor: pointer;
					font-size: 12px;
					margin-top: 20px;
					text-transform:uppercase;

					&:nth-child(2),
					&:last-child {
						margin-left: 60px;
					}
				}
			}

			.phone-number,
			.email {
				font-size: 12px;
				line-height: 30px;
				margin-top: 25px;
				padding-left: 37px;
				position: relative;

				&:before {
					@include before-after-elements;
					border-radius: 50%;
					height: 30px;
					left:0;
					top:0;
					width: 30px;
				}
			}

			.phone-number {
				&:before {
					background: url(../images/iconPhone.png) center center no-repeat, #7c7c7c;
				}
			}

			.email {
				margin-left: 30px;

				&:before {
					background: url(../images/iconLetter.png) center center no-repeat, #7c7c7c;
				}
			}
		}

		//Facebook

			.facebook-wrapper {
				border-left: 1px solid #a6a6a6;
				border-right: 1px solid #a6a6a6;
				height: 70px;
				margin-left:  5px;
				margin-top:0 !important;
				padding-left: 7px;
				padding-right: 7px;
			}

			.facebook {
				background: url(../images/facebook.png) 16px center no-repeat, #3a5795;
				cursor: pointer;
				font-size: 12px;
				height: 30px;
				margin-left:0 !important;
				width: 150px;
				
				* {
					@include inline-block-elements;
				}

				.text-facebook {
					font-size: 12px;
					line-height:30px;
					margin-left: 36px;
					margin-top:0;
					padding-right: 7.8px;
					position: relative;
					
					&:after {
						@include before-after-elements;
						background: #6179aa;
						height: 15px;
						right: 0;
						top: 7.7px;
						width: 1px;
					}
				}

				.number-facebook {
					line-height:30px;
					margin-left: 7px;
					margin-top:0;
				}
			}

	//Bottom part of footer
		.bottom-part-footer {
			color: white;
			font-size: 11px;
			padding-bottom: 8px;

			* {
				@include inline-block-elements;
			}

			.developers {
				margin-left: 15px;
			}

			img {
				margin-top: 12px;
			}

			.copyright {
				float: right;
				margin-right: 12px;
			}
		}

//Contact us button

	.contact-us-fixed-button {
		background: #333333;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		color: white;
		cursor: pointer;
		font-family: Tahoma;
		font-size: 13px;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
		margin:0;
		position: fixed;
		right:-34px;
		text-align: center;
		top: 600px;
		transform: rotate(-90deg);
		width: 107px;
		z-index: 40;

		&:hover {
			color: #eb4200;
		}
	}

@import 'boards';
@import 'phones';