// Something here4
.header {

  &-logo {
    height: 40px;

    @include mq("tablet-wide") {
      height: 65px;
    }
  }

  &-top-line {
    height: 60px;
    background: $top-line-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      left: 30px;
      right: 30px;
    }

    @include mq("tablet-wide") {
      background: transparent;
      padding-top: 25px;
    }
  }

  &-burger {
    height: 18px;
    width: 24px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    border: {
      top: 2px solid $salat-color;
      bottom: 2px solid $salat-color;
    }

    @include mq("tablet-wide") {
      display: none;
    }

    &:before {
      content: '';
      width: 24px;
      height: 2px;
      display: block;
      background: $salat-color;
      position: absolute;
      top: 50%;
      left: 0;
      margin: {
        top: -1px;
      }
    }
  }

  &-navigation {
    position: fixed;
    top: 0;
    right: -50vw;
    width: 50vw;
    height: 100vh;
    background: #171717;
    padding-top: 25px;
    transition: 1s;
    z-index: 40;

    @include mq("tablet-wide") {
      position: static;
      display: flex;
      justify-content: space-between;
      z-index: 0;
      width: 540px;
      background: transparent;
      height: auto;
    }

    &.active {
      right: 0;
    }

    li {
      border-bottom: 1px solid black;
      padding-left: 25px;
      color: white;
      font-size: 22px;
      line-height: 45px;
      @extend %segoe-reg !optional;

      @include mq("tablet-wide") {
        border: 2px solid transparent;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        &.active,
        &:hover {
          border: 2px solid $salat-color;
          cursor: pointer;
        }
      }
      
      &.active,
      &:hover {
        background: #2c2c2c;
        @include mq("tablet-wide") {
          background-color: transparent;
        }
      }
    }
  }

  &-slider {
    height: 340px;
    background: {
      image: url('assets/images/bg.png');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    @include mq("tablet-wide") {
      position: relative;
      z-index: -5;
      top: -60px;
      height: 800px;
    }
  }

  &-navigation {
    @extend %segoe-bold !optional;
  }
}

.footer {
  padding-bottom: 170px;
  padding-top: 20px;
  background: {
    image: url("assets/images/footer.png");
    size: cover;

  }

  &-social-share-section {
    margin: 65px auto 0;
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: flex-start;

    .item-social-share {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      color: white;
      font-size: 20px;
      text-align: center;
      line-height: 35px;
      background: black;
    }
  }

  .email {
    text-align: center;
    font-size: 21px;
    margin-top: 25px;
    @extend %segoe-reg !optional;
  }
}