.home {

  &-about-us-section,
  &-photo-section-container,
  &-last-blog-section {
    .entity-title-section {
      margin-top: 50px;
    }
  }

  &-about-us-section {
    padding: {
      left: 10px;
      right: 10px;
    }

    @include mq("tablet-wide") {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -100px;
      background: white;
    }

    .entity-article {
      width: 305px;
      margin: 15px auto 0;
      hyphens: auto;

      @include mq("tablet-wide") {
        width: 450px;
        margin: 0;
        margin-top: 30px;
      }
    }
    
    .about-us-img {
      display: none;

      @include mq("tablet-wide") {
        display: block;
        width: 550px;
        height: 430px;
        object-fit: cover;
        position: relative;
        top: -50px;
      }
    }
  }

  &-photo-section-container {
    .photos {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .item-right-section {
        flex-basis: 33%;
        height: 130px;
        flex-grow: 1;
        object-fit: cover;

        @include mq("tablet-wide") {
          height: 350px;
        }

        &:nth-of-type(1),
        &:nth-of-type(4n) {
          flex-basis: 45%;
          flex-grow: 2;

          @include mq("tablet-wide") {
            flex-basis: 33%;
          }
        }

      }
    }
  }

  &-last-blog-section {
    .blog-items-container {
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;

      @include mq("tablet-wide") {
        padding: {
          left: 0;
          right: 0;
        }
        display: flex;
        justify-content: space-between;
      }

      .home-last-blog-item {
        position: relative;
        @include mq("tablet-wide") {
          width: 30%;
        }
        &-pictute {
          width: 100%;
          height: 205px;
          @include mq("tablet-wide") {
            height: 250px;
          }
          object-fit: cover;
        }

        &-date {
          position: absolute;
          top: 140px;
          left: 5px;
          width: 60px;
          height: 70px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          @extend %segoe-reg !optional;
          line-height: 1.2;
          background: $salat-color;
        }

        &-title {
          margin-top: 25px;
          margin-bottom: 10px;
          font-weight: 700;
          @extend %segoe-reg;
          font-size: 24px;
        }

        .entity-btn-default {
          margin: {
            top: 10px;
            bottom: 35px;
          }
        }
      }

    }
  }

  &-blockqoute-section {
    display: none;
    @include mq("tablet-wide") {
      display: block;
      background: #f0efef;
      padding: {
        top: 40px;
        bottom: 40px;
      }

      .music-container {
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .comment-icon {
        margin-right: 20px;

      }

      .text-blockquote {
        font-family: 'SegoeUI', Helvetica, sans-serif;
        font-weight: 300;
        font-size: 24px;
        font-style: italic;
      }

    }

  }
}