/**
*Created by Balion 27.03.15
*Last modify 29.03.15
*/



@mixin inline-block-elements {
	display: inline-block;
	vertical-align: top;
}

@mixin second-level-list-item($n){
	&:nth-child(#{$n}) {
		div {
			background-image: url(../images/rol#{$n}.png);
		}
	}
}


@mixin before-after-elements {
	content:'';
	position: absolute;
	display: block;
}

@mixin triangles($height,$width) {
	border-bottom: #{$height} solid transparent;
	border-left: #{$width} solid #eb4200;
	border-top: 0 solid transparent;
}

@mixin image-in-item-slider($i) {
	div:nth-child(#{$i}),
	div:nth-child(3n+#{$i}) {
		background: url(../images/slide#{$i}.png);
	}
}