.item-main-menu {
	font-family: 'Lato';
	color:  #373737;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
	padding-bottom: 5px;

	&:hover {
		border-bottom: 2px solid grey;
		border-image : url(../../images/line-md.png) 0 0 15 0 round;
	}
}

.search-btn {
	width: 18px;
	height: 18px;
	border: none;
	cursor: pointer;
	background: url(../../images/loupe.png) 
}

.item-info-page-style1 {
	width: 460px;
	height: 430px;
	background: url(../../images/paper1.png);
	padding-top: 26px;
	padding-left: 32px;
	padding-right: 27px;
	box-sizing: border-box;
	float: right;
	margin-right: 170px;
	margin-top: 137px;
}

.md-title-style-1 {
	font-family: 'Lato';
	color:  #373737;
	font-size: 38px;
	font-weight: 300;
	line-height: 34px;
	padding-bottom: 13px;
	border-bottom: 6px solid grey;
	border-image : url(../../images/line-bg.png) 0 0 15 0 round;

}

.simple-text-articles {
	font-family: 'Lato';
	font-weight: 300;
	color:  #4f4e4d;
	font-size: 18px;
	line-height: 28px;
	word-wrap: break-word;
}

.big-title {
	font-family: 'Lato';
	color:  #373737;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
}

.md-title-style-2 {
	font-family: 'Neucha';
	color:  #373737;
	font-size: 34px;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
}

.link-style1 {
	display: block;
	font-family: 'Lato';
	color:  #373737;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}

.item-info-page-style2 {
	width: 458px;
	height: 400px;
	background: url(../../images/paper2.png);
	padding-top: 39px;
	padding-left: 25px;
	padding-right: 29px;
}


.person-name  {
	font-family: 'Lato';
	color:  #4f4e4d;
	font-size: 21px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
}

.person-profession {
	font-family: 'Lato';
	color:  #4f4e4d;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
	text-align: left;
}

.facebook-md-btn {
	cursor: pointer;
	width: 35px;
	height: 35px;
	background: url(../../images/facebook-md.png);
	border-radius: 50%;

	&:hover {
		background: url(../../images/facebook-md.png) #e95d12;
	}
}