//CSS MENU FOR THIS MODULE:
// -RESET
// -FONT DESCRIPTIONS
// -FONT VARIABLES
// -HELPER FONT INCLUDES
// -COLOR VARIABLE

//RESET
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// -FONT DESCRIPTIONS
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
  url('/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
  url('/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
  url('/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
  url('/assets/fonts/Montserrat-Bold.svg#Montserrat-Regular') format('svg');
  font-weight: bold;
  font-style: normal;
}

// -HELPER FONT INCLUDES
%mont-regular {
  font-family: 'Montserrat';
  font-weight: normal;
}

%mont-bold {
  font-family: 'Montserrat';
  font-weight: bold;
}

$primary-font-size: 16px;
$small-font-size: 14px;
$small-extra-font-size: 10px;
$large-font-size: 30px;
$medium-font-size: 18px;
$big-font-size: 22px;
$extra-big-font-size: 24px;
$extra-large-font-size: 52px;

//COLOR VARIABLES

$pink-color: #ff4e50;
$color-titles-sections: #333;
$lignt-blue-color: #f1f1f1;
$light-grey-color: #f5f5f5;

